{% extends "theme.html" %}
{% load staticfiles %}

<!-- Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Profile.css' %}"/>
{% endblock %}

{% block title %}
    Alumni Details - Murdoch Dubai Career Portal
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="profileBody">
        <div class="row py-2">
            <div class="icon col-md-6 col-xs-12 text-md-right">
                {% if alumni.dp %}
                    <img src="{{ alumni.dp.url }}" height="300.0em" width="300.0em"><br>
                {% else %}
                    <img src="{% static 'DefaultDP.jpg' %}" height="300.0em" width="300.0em"><br>
                {% endif %}
            </div>
            <div class="student-profile col-md-6 col-xs-12">
                <h3>{{ alumni.user.first_name }} {{ alumni.user.last_name }} - Alumni </h3>
                <p><b>Email:</b> {{ alumni.user }}</p>
                <p><b>Gender:</b> {{ alumni.gender }}</p>
                <p><b>Date of Birth:</b> {{ alumni.date_of_birth }}</p>
                {% if obj.student_id %}
                    {{ obj.student_id.label }}
                    {{ obj.student_id }}
                {% endif %}
                <b>Skills:</b>
                {% for skill in alumni.skills.all %}
                    <li>{{ skill }}</li>
                {% endfor %}
                <br>
                <b>Majors: </b>
                {% for major in alumni.majors.all %}
                    <li>{{ major }}</li>
                {% endfor %}
            </div>
        </div><!-- End of row -->
        <div class="text-center">
            {% if user_type == 'admin' %}
            <a  class="text-decoration-none text-white" href="{% url 'admin_edit_alumni_profile' alumni.user_id %}">
                <button type="submit" class="btn btn-primary">Edit Profile</button>
            </a>
            {% endif %}
            <a class="text-decoration-none text-white" href="{% url 'get_alumni_cv_file' alumni.user_id %}">
                <button type="button" class="btn btn-primary">Download CV</button>
            </a>
        </div>
    </div>
{% endblock %}