{% extends "theme.html" %}
{% load staticfiles %}

<!-- Additional Stylesheets -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/AboutUs.css' %}"/>
{% endblock %}

{% block title %}
    Anti-Scam - Murdoch Dubai Career Portal
{% endblock %}

{% csrf_token %}

{% block content %}
    <div class="col-12">
        <h1 class="text-center"><u>Anti-Scam</u></h1>
        <br>
        <h3>Help Protect yourself against Internet fraud!</h3>
        <p>The vast majority of ads are posted by honest people and trust. So you can do excellent business. Despite
            this, it is important to follow a few common sense rules following to prevent any attempt to scam.</p>
        <br>
        <h3>Our advice</h3>
        <ol>
            <li>Do business with people you can meet in person.</li>
            <li>Never send money through Western Union, MoneyGram or other anonymous payment systems.</li>
            <li>Never send money or products abroad.</li>
            <li>Do not accept checks.</li>
            <li>Ask about the person you're dealing with another confirming source name, address and telephone number.</li>
            <li>Keep copies of all correspondence (emails, ads, letters, etc.) and details of the person.</li>
            <li>If a deal seems too good to be true, there is every chance that this is the case. Refrain.</li>
        </ol>
        <br>
        <h3>Recognize attempted scam</h3>
        <ol>
            <li>The majority of scams have one or more of these characteristics:</li>
            <li>The person is abroad or traveling abroad.</li>
            <li>The person refuses to meet you in person.</li>
            <li>Payment is made through Western Union, Money Gram or check.</li>
            <li>The messages are in broken language (English or French or ...).</li>
            <li>The texts seem to be copied and pasted.</li>
            <li>The deal seems to be too good to be true.</li>
        </ol>
        <br>
    </div>
{% endblock %}
