{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    Delete Jobs - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <form class="col-12 mx-auto" method='POST'>
        {% csrf_token %}
        <h2 class="text-center">Are you sure you want to delete the job {{ job.job_title }}?</h2>

        <br><br>
        <div class="text-center">
            <button class="btn btn-danger" type="submit"><b>Yes, Delete</b></button>
            <button class="btn btn-secondary" type="button">
                <a class="text-white text-decoration-none" href="{% url 'view_jobs' %}"><b>Cancel</b></a>
            </button>
        </div>
    </form>
{% endblock %}