{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<!-- Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/EditJob.css' %}"/>
{% endblock %}

{% block title %}
    Edit Job - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
<script>
function disableOthersField() {
    var isEmpty = document.getElementById('otherskills').innerHTML === "";
    if(isEmpty) {
        document.getElementById("otherskills").style.display = "none";
        var labels = document.getElementsByTagName('label');
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor === "otherskills") {
                labels[i].style.display = "none";
            }
        }
    }
}

function checkOtherSkills(elem) {
    if(elem.value == {{ others_id }}) {
        var labels = document.getElementsByTagName('label');
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor === "otherskills") {
                if(elem.checked) {
                    document.getElementById("otherskills").style.display = "block";
                    labels[i].style.display = "block";
                }
                else {
                    document.getElementById("otherskills").style.display = "none";
                    labels[i].style.display = "none";
                }
            }
        }
    }
}

function searchSkill() {
    var input = document.getElementById('myInput');
    var filter = input.value.toUpperCase();
    var ul = document.getElementById("skills");
    var li = ul.getElementsByTagName("li");

    for(var i=0; i<li.length; i++) {
        if(li[i].innerText.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
    }
}

function toggleDuration(elem) {
    document.getElementById("duration").disabled = elem.value === "Permanent";
}
</script>
    <body onload="disableOthersField()">
    <div id="editJobBody" class="col-12">
        <h2 class="text-center">Edit Job Listing</h2>
        <hr>
        <form action="{% url 'edit_job' job.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            {% if user_type == 'employer' %}
                <div>{{ jobForm.job_title|as_crispy_field }}</div>
                <div>{{ jobForm.description|as_crispy_field }}</div>
                <div>{{ jobForm.location|as_crispy_field }}</div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.job_type_id|as_crispy_field }}</div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.industry_id|as_crispy_field }}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.duration_type|as_crispy_field }}</div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.duration|as_crispy_field }}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.salary_min|as_crispy_field }}</div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.salary_max|as_crispy_field }}</div>
                </div>
                {{ jobForm.skills.label }}
                <div class="skills-container">
                    <input class="searchTerm form-control" type="text" id="myInput" onkeyup="searchSkill()" placeholder="Search for skills...">
                    {{ jobForm.skills }}
                </div>
                <small>Select 'Others' to enter additional skills</small><br><br>
                <div>{{ jobForm.other_skills|as_crispy_field }}</div>
            {% elif user_type == 'admin' %}
                <div>{{ jobForm.job_title|as_crispy_field }}</div>
                <div>{{ jobForm.description|as_crispy_field }}</div>
                <div>{{ jobForm.location|as_crispy_field }}</div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.job_type_id|as_crispy_field }}</div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.industry_id|as_crispy_field }}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.duration_type|as_crispy_field }}</div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.duration|as_crispy_field }}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.salary_min|as_crispy_field }}</div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ jobForm.salary_max|as_crispy_field }}</div>
                </div>
                {{ jobForm.skills.label }}
                <div class="skills-container">
                    <input class="searchTerm form-control" type="text" id="myInput" onkeyup="searchSkill()" placeholder="Search for skills...">
                    {{ jobForm.skills }}
                </div><br>
                <div>{{ jobForm.other_skills|as_crispy_field }}</div>
                <hr><br>
                <div>{{ companyForm.company_name|as_crispy_field }}</div>
                <div>{{ companyForm.company_description|as_crispy_field }}</div>
                <div>{{ companyForm.company_website|as_crispy_field }}</div>
                <small>Website should contain http or https</small>
                <br><br>
                <div>{{ companyForm.contact_name|as_crispy_field }}</div>
                <div>{{ companyForm.phone_number|as_crispy_field }}</div>
                <small>Phone number should have country code appended before it</small>
                <br><br>
                <div>{{ companyForm.logo|as_crispy_field }}</div>
                <div>{{ companyForm.trade_license|as_crispy_field }}</div>
            {% endif %}

            <input type="hidden" name="next" value="{% url 'job_details' job.id %}">
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                    <a class="text-decoration-none text-white" href="{% url 'job_details' job.id %}">
                        <button class="btn btn-secondary" type="button">Cancel</button>
                    </a>
                </div>
        </form>
    </div>
{% endblock %}