{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<!-- Additional Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/CreateJob.css' %}"/>
{% endblock %}

{% block title %}
    Create Job Listing - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
<div id="createJobBody">
    <h2 class="text-center">Create Job Listing</h2>
    <hr>
    <form action="create_job" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% if user_type == 'employer' %}
            {% for field in form %}
                <div>{{ field|as_crispy_field }} </div>
            {% endfor %}
        {% elif user_type == 'admin' %}
            {% for field in jobForm %}
                <div>{{ field|as_crispy_field }}</div>
            {% endfor %}
            {% for field in companyForm %}
                <div>{{ field|as_crispy_field }}</div>
            {% endfor %}
        {% endif %}
        <div class="text-center">
            <button class="btn btn-primary" type="submit">
                Submit
            </button>
            <button class="btn btn-secondary" type="button">
                <a class="text-decoration-none text-white" href="/">Cancel</a>
            </button>
        </div>
    </form>
</div>
{% endblock %}