{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<!-- Additional Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/CreateJob.css' %}"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.5.0/tinymce.min.js"></script>
{% endblock %}

{% block title %}
    Create Job Listing - Murdoch Dubai Career Portal
{% endblock %}

{% block image %}
<div id="container">
    <img src="{% static 'images/2.png' %}" alt="Home page image">
</div>
{% endblock %}
{% block jQueryCall %}
    <script>
 $("#id_email").focusout(function (e) {
      e.preventDefault();
      var username = $(this).val();
      $.ajax({
            type: 'GET',
            url: "{% url 'check_student_username' %}",
            data: {"username": username},
            success: function (response) {
                  if(!response["valid"]) {
                        $("#usernameError").css('color', 'red').html("This username is already being used");
                    }
                  else {
                        $("#usernameError").css('color', '').html("");
                  }
            },
            error: function (response) {
                  console.log(response);
            }
      });
    });
    </script>
{% endblock %}
{% block content %}
<script>
tinymce.init({selector:'#id_description, #id_company_description',
    plugins: [
        "advlist lists anchor emoticons"
    ],
    toolbar: [
        'undo redo | bold italic subscript | indent outdent bullist numlist | anchor | emoticons'
    ],
});

function disableOthersField() {
    document.getElementById("otherskills").style.display = "none";

    var labels = document.getElementsByTagName('label');
    for (var i = 0; i < labels.length; i++) {
        if (labels[i].htmlFor === "otherskills") {
            labels[i].style.display = "none";
        }
    }
    document.getElementById("duration").disabled = document.getElementById("duration_type").value === "Permanent";
}

function checkOtherSkills(elem) {
    if(elem.value == {{ others_id }}) {
        var labels = document.getElementsByTagName('label');
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor === "otherskills") {
                if(elem.checked) {
                    document.getElementById("otherskills").style.display = "block";
                    labels[i].style.display = "block";
                }
                else {
                    document.getElementById("otherskills").style.display = "none";
                    labels[i].style.display = "none";
                }
            }
        }
    }
}

function searchSkill() {
    var input = document.getElementById('myInput');
    var filter = input.value.toUpperCase();
    var ul = document.getElementById("skills");
    var li = ul.getElementsByTagName("li");

    for(var i=0; i<li.length; i++) {
        if(li[i].innerText.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }

        {% if user_type == 'admin' %}
            if(li[i].innerText.indexOf("Others") > -1) {
              li[i].style.display = "none";
            }
        {% endif %}
    }
}

function removeOtherSkill() {
    var ul = document.getElementById("skills");
    var li = ul.getElementsByTagName("li");

    for(var i=0; i<li.length; i++) {
        if(li[i].innerText.indexOf("Others") > -1) {
          li[i].style.display = "none";
        }
    }
    document.getElementById("duration").disabled = document.getElementById("duration_type").value === "Permanent";
}

function toggleDuration(elem) {
    document.getElementById("duration").disabled = elem.value === "Permanent";
}
</script>

{% if user_type == 'employer' %}
    <body onload="disableOthersField()">
{% elif user_type == 'admin' %}
    <body onload="removeOtherSkill()">
{% endif %}

<div id="createJobBody">
    <h2 class="text-center">Create Job Listing</h2>
    <hr>
    <form action="create_job" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user_type == 'employer' %}
            <div>{{ form.job_title|as_crispy_field }}</div>
            <div>{{ form.description|as_crispy_field }}</div>
            <div>{{ form.description_upload|as_crispy_field }}</div>
            <div>{{ form.location|as_crispy_field }}</div>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ form.job_type_id|as_crispy_field }}</div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ form.industry_id|as_crispy_field }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ form.duration_type|as_crispy_field }}</div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ form.duration|as_crispy_field }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ form.salary_min|as_crispy_field }}</div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ form.salary_max|as_crispy_field }}</div>
            </div>
            {{ form.skills.label }}
            <div class="skills-container">
                <input class="searchTerm form-control" type="text" id="myInput" onkeyup="searchSkill()" placeholder="Search for skills...">
                {{ form.skills }}
            </div>
            <small>Select 'Others' to enter additional skills</small><br><br>
            <div>{{ form.other_skills|as_crispy_field }}</div>
        {% elif user_type == 'admin' %}
            <div>{{ jobForm.job_title|as_crispy_field }}</div>
            <div>{{ jobForm.description|as_crispy_field }}</div>
            <div>{{ jobForm.description_upload|as_crispy_field }}</div>
            <div>{{ jobForm.location|as_crispy_field }}</div>
            <div class="form-row">
                <div class="form-group col-6">{{ jobForm.job_type_id|as_crispy_field }}</div>
                <div class="form-group col-6">{{ jobForm.industry_id|as_crispy_field }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">{{ jobForm.duration_type|as_crispy_field }}</div>
                <div class="form-group col-6">{{ jobForm.duration|as_crispy_field }}</div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">{{ jobForm.salary_min|as_crispy_field }}</div>
                <div class="form-group col-6">{{ jobForm.salary_max|as_crispy_field }}</div>
            </div>
            {{ jobForm.skills.label }}
            <div class="skills-container">
                <input class="searchTerm form-control" type="text" id="myInput" onkeyup="searchSkill()" placeholder="Search for skills...">
                {{ jobForm.skills }}
            </div>
            <br><hr><br>
            <div>{{ employerForm.email|as_crispy_field }}</div>
            <div id="usernameError"></div>
            <div class="form-row">
                <div class="form-group col-6">{{ employerForm.password1|as_crispy_field }}</div>
                <div class="form-group col-6">{{ employerForm.password2|as_crispy_field }}</div>
            </div>
            <br><hr><br>
            <div>{{ companyForm.company_name|as_crispy_field }}</div>
            <div>{{ companyForm.company_description|as_crispy_field }}</div>
            <div>{{ companyForm.company_website|as_crispy_field }}</div>
            <div>{{ companyForm.contact_name|as_crispy_field }}</div>
            <div>{{ companyForm.phone_number|as_crispy_field }}</div>
            <div>{{ companyForm.logo|as_crispy_field }}</div>
            <div>{{ companyForm.trade_license|as_crispy_field }}</div>
        {% endif %}
        <div class="text-center">
            <button class="btn btn-primary" type="submit">
                Submit
            </button>
            <button class="btn btn-secondary" type="button">
                <a class="text-decoration-none text-white" href="/">Cancel</a>
            </button>
        </div>
    </form>
</div>
</body>
{% endblock %}