{% extends "theme.html" %}
{% load staticfiles %}

<!-- Additional Stylesheets -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/AboutUs.css' %}"/>
{% endblock %}

{% block title %}
    Frequently Asked Questions - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    {% csrf_token %}
    <h1 class="text-center"><u>FAQ</u></h1>
    <div id="faqBody" class="col-12">
        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">How can I sign up on the Murdoch Job Portal 2.0?</h5>
            <p class="card-text">On the Murdoch job portal 2.0 website, users have access to the signup button that can be
            seen on the top right corner of the navigation bar. When a user hovers over the “sign up” text,
            a drop-down list appears stating “Student Registration” and “Employer Registration”. For Murdoch
            students, they sign up by clicking on the “Student Registration” link and employers click on the “Employer Registration” link.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Can foundation students sign up?</h5>
            <p class="card-text">Yes, the Murdoch portal is accessible to all the foundation, undergraduate and postgraduate
            students.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Is the job portal for Murdoch students in Australia and Singapore too?</h5>
            <p class="card-text">No, this job portal is designed explicitly for Murdoch students based in the UAE.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Can other students sign up on the murdoch job portal?</h5>
            <p class="card-text">The Murdoch job portal is restricted to Murdoch students and alumni only. Upon signing up,
            students will be required to enter their Murdoch student ID as well as their Murdoch email
            address.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">I sold my item. How do I delete my ad?</h5>
            <p class="card-text">Once your product is sold or leased, log in to your account to remove your ad.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Can any company sign up?</h5>
            <p class="card-text">Yes, any company is eligible to sign up on the Murdoch Job portal. All they have to do is sign
            up as an employer and post jobs for students to see.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Dp students and employers have to pay to use the portal?</h5>
            <p class="card-text">No, the Murdoch Job portal is a free portal accessible to all companies and Murdoch students
            based in Dubai.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">How can I apply for a job as a student?</h5>
            <p class="card-text">The first step for a student to apply to a job is that you must have an account. If a student is not
            signed up, this can be done by hovering over the signup button that can be seen on the top right
            corner of the navigational bar. Next, you must ensure that you are logged in. The login is also
            at the top right corner of the navigational bar next to the signup. After a student has successfully
            logged in, they can browse for a job they wish to apply to on the browse job page that is linked
            on the navigational bar. Then they click on the job they wish to apply to by clicking on the Job
            name and apply now button at the button of the page.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Will I know if I got the job I applied for through the portal?</h5>
            <p class="card-text">A student will not know if they got a job through the portal however, they will be contacted
            directly by the company.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">How can I edit my profile?</h5>
            <p class="card-text">A user can edit their profile by hovering over their name at the upper right corner of the
            navigational bar and clicking view profile. Once their profile details show up, they select the
            edit profile button at the bottom of the page and edit whatever information they wish to edit
            with the correct details and save the changes.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">How can I delete/deactivate my account?</h5>
            <p class="card-text">Sadly, this feature is not available on the current version of the Murdoch job portal 2.0</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">How can I update my CV after I uploaded it?</h5>
            <p class="card-text">For students who want to edit/update their CV, they will need to upload a new cv. This will be
            done by accessing the student’s profile page that is attached on the top right of the navigational
            bar by hovering over the student’s name. The drop-down menu will display a list with the first
            option being “view profile”. After the student is redirected to their profile, an edit profile button can be seen at
            the bottom of their profile detail which will display a new webpage that will
            allow users to attach a new CV file that must be a pdf or word document file.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Can students see other students profiles?</h5>
            <p class="card-text">Students do not have access to seeing other student’s profiles. The only people who will have
            access to seeing student profiles are employers who are looking for potential employees.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Can employers see other company profiles?</h5>
            <p class="card-text">No, employers do not have access to viewing other company profiles through the Murdoch job
            portal. Company profiles can only be seen by students on the job post made by the company.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">How long does it take for an admin to respond to Help Desk requests?</h5>
            <p class="card-text">As there are different admins who have access to the help desk request, the responses rate
            depends on the admin and their availability to answer but admins will try to respond back as
            soon as possible.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">How can I delete my job posts?</h5>
            <p class="card-text">Employers have access to delete the job they posted by opening the post they wish to delete
            starting with viewing my jobs on the top right corner of the navigational bar</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">What does closing a job post mean?</h5>
            <p class="card-text">When a job has already been filled, an employer can choose to close it. this way, no students
            can apply and they will not be bombarded with applications from students.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Can I still get back the job posts that I deleted?</h5>
            <p class="card-text">Yes, you can do that by clicking on the "Re-Open Job" button on the details page for that
            job.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">How can an employer view students who applied for a position?</h5>
            <p class="card-text">When students have applied to a particular job post, employers can see who has applied by
            opening that particular post and clicking on the “view applicants” button which will then
            display a list of students who have applied for that position.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">What is "View Candidates"?</h5>
            <p class="card-text">Employers seeking for particular students for a job position, they can click on the view
            candidates which will display a list of the names of students that would best fit the job position
            based on the skills they have and the skills that the position requires.</p>
          </div><!-- End of card-body -->
        </div><!-- End of card -->

{#        <div class="card bg-light mb-3">#}
{#          <div class="card-body">#}
{#            <h5 class="card-title"></h5>#}
{#            <p class="card-text"></p>#}
{#          </div><!-- End of card-body -->#}
{#        </div><!-- End of card -->#}
{##}
{#        <div class="card bg-light mb-3">#}
{#          <div class="card-body">#}
{#            <h5 class="card-title"></h5>#}
{#            <p class="card-text"></p>#}
{#          </div><!-- End of card-body -->#}
{#        </div><!-- End of card -->#}
    </div>
{% endblock %}