{% extends "theme.html" %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/Base.css' %}"/>

{% block title %}
    Job Portal - Murdoch Dubai Job Portal
{% endblock %}

{% csrf_token %}
{% block content %}
    <div id="body-image" class="text-center">
        <img src="{% static 'images/workingStudents.jpg' %}" alt="Home page image">
        <div class="blockquote text-center text-black">
            “Far and away the best prize that life has to offer is the chance to work hard at work worth doing.”
            <span class="blockquote-footer font-italic">Theodore Roosevelt</span>
        </div>
    </div>
    <br>
    <br><br>
{% endblock %}