{% extends "theme.html" %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/Base.css' %}"/>

{% block title %}
    Murdoch Dubai Career Portal
{% endblock %}

{% csrf_token %}
    {% block image %}
        <div id="body-image" class="text-center d-none d-sm-block">
            <img src="{% static 'images/homepage.png' %}" alt="Home page image">
            {% if user_type == 'student' or user_type == 'alumni' %}
                <div class="col-12 w-75 mx-auto centered">
                    <form class="search" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="searchTerm form-control" id="search_item" type="text" name="search_item"  placeholder="What job are you looking for?" >
                            <div class="input-group-append">
                                <button class="searchButton input-group-text" type="submit"><i class="fa fa-search fa-3x"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% block content %}
    {% if user_type == 'student' or user_type == 'alumni' %}
        <div class="col-12 d-block d-sm-none">
            <form class="search" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input class="searchTerm form-control" id="search_item" type="text" name="search_item"  placeholder="What job are you looking for?" >
                    <div class="input-group-append">
                        <button class="searchButton input-group-text" type="submit"><i class="fa fa-search fa-3x"></i></button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
    <div id="mobileButtons" class="col-xs-12 text-center d-block d-sm-none">
        {% if not user.is_authenticated %}
            <a class="text-decoration-none" href="{% url 'sign_up' %}">
                <button class="btn btn-danger" type="button">Sign Up</button>
            </a>
            <a class="text-decoration-none" href="{% url 'log_in' %}">
                <button class="btn btn-danger">Login</button>
            </a>
            <br><hr><br>
        {% endif %}
    </div>
    <div id="jobDetBody" class="row text-center w-75 my-4">
        <div class="jobDetCard col-md-4 col-sm-4 col-xs-12">
            <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
            <h5>Post a Job</h5>
            <p>Do you have a post to be filled within your company? Find the right candidate in a few clicks using the Career Portal.</p>
        </div>
        <br class="d-block d-sm-none">
        <div class="jobDetCard col-md-4 col-sm-4 col-xs-12">
            <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            <h5>Create and Manage Jobs</h5>
            <p>Create and Manage your jobs. Reopen old jobs, etc.</p>
        </div>
        <br class="d-block d-sm-none">
        <div class="jobDetCard col-md-4 col-sm-4 col-xs-12">
            <i class="fa fa-search fa-3x" aria-hidden="true"></i>
            <h5>Find a Job</h5>
            <p>Are you looking for a job in the UAE? Create an account and register your CV to be a candidate.</p>
        </div>
    </div>
    {% if user.is_authenticated and user_type != 'employer' %}
        <div class="col-12 job-cards-index w-75 mx-auto">
            <br><hr><br>
            <h3 class="text-secondary">Recent Jobs</h3>
            <br>
            {% if job_list %}
                {% for job in job_list %}
                    <div class="row">
                        <div class="card-group my-2 col-12">
                            <div class="card bg-light col-md-9 col-xs-7">
                                <div class="card-body">
                                    <h4 class="card-title">{{ job.job_title }}</h4>
                                    <hr>
                                    <b>Job Description:</b>
                                    <p class="card-text">
                                        {{ job.description }}
                                    </p>
                                </div><!-- End of card-body -->
                            </div>
                            <div class="card bg-light col-md-3 col-xs-5">
                                <div class="card-body">
                                    <p class="card-text">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{ job.location }}
                                    </p>
                                    <p class="card-text">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{ job.duration }} {{ job.duration_type }}
                                        - {{ job.job_type_id }}
                                    </p>
                                    <p class="card-text">
                                        <i class="fa fa-industry" aria-hidden="true"></i> {{ job.industry_id }}
                                    </p>
                                    <p class="card-text">
                                        <i class="fa fa-money" aria-hidden="true"></i> {{ job.salary_min }} - {{ job.salary_max }} AED/Month
                                    </p>
                                </div><!-- End of card-body -->
                                <div class="card-footer text-center">
                                    <a class="card-link" href="{% url 'job_details' job.id %}">View more Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="text-secondary text-center">No Jobs to show</h3>
            {% endif %}
            <br><hr><br>
        </div>
    {% endif %}
{% endblock %}