{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    Job Portal - Murdoch Dubai Job Portal
{% endblock %}

{% csrf_token %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user_type == 'student' %}
            <!-- displays welcome message -->
            <!--<h3 align="center">Welcome, {{ user.first_name }} {{ user.last_name }}</h3>-->
            <!-- displays welcome message -->
        {% elif user_type == 'employer' %}
            <!-- displays welcome message -->
            <!--<h3 align="center">Welcome, {{ obj.company_name }}</h3>-->
        {% elif user_type == 'admin' %}
            <!-- displays welcome message -->
            <!--<h3 align="center">Welcome, {{ user.first_name }} {{ user.last_name }}</h3>-->
        {% elif user.is_superuser == True %}
            <!--<h3 align="center">Welcome, {{ user.username }}</h3>-->
            <h3 align="center"><a href="myadmin/view_admin_profile">Click</a> to gain full admin access</h3>
        {% endif %}
    {% endif %}

    <div class="img-fluid text-center">
        <img src="{% static 'images/Homeimg.jpg' %}" alt="Home page image">
    </div>
    <br>
        <blockquote class="blockquote text-center">
            <p>“Far and away the best prize that life has to offer is the chance to work hard at work worth doing.”</p>
            <div class="blockquote-footer font-italic">Theodore Roosevelt</div>
        </blockquote>
    <br><br>
{% endblock %}