{% extends "theme.html" %}
{% load staticfiles %}
<!-- Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Details.css' %}"/>
{% endblock %}

{% block title %}
    Job Listing Details - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <br><br>
    <div id="job-detail-box">
        <div class="text-right text-xs-center">
            {% if user_type != "student" and user_type != "alumni" %}
                {% if job.status != 'Closed' %}
                    <a href="{% url 'close_job' job.id %}">
                        <button class="btn" type="button">Close Job</button>
                    </a>
                    <a href="{% url 'delete_job' job.id %}">
                        <button class="btn" type="button">Delete Job</button>
                    </a>
                    <a href="{% url 'edit_job' job.id %}">
                        <button class="btn" type="button">Edit Job</button>
                    </a>
                {% else %}
                    <a href="{% url 'reopen_job' job.id %}">
                        <button class="btn" type="button">Re-Open Job</button>
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <form method="POST">{% csrf_token %}
            <div class="card border-dark mb-3">
                <h2 class="card-header">{{ job.job_title }}</h2>
                <div class="card-body">
                    {% for company in companies %}
                        {% if job.posted_by == company.user %}
                                <h5 class="card-title text-capitalize"><b>Company Name: </b>{{ company.company_name }}</h5>
                        {% endif %}
                    {% endfor %}
                    <p class="card-text"><b>About the Job:</b><br>{{ job.description }}</p>
                    <p class="card-text"><b>Location:</b> {{ job.location }} | <b>Duration (in Months):</b> {{ job.duration }} | <b>Salary (AED):</b> AED {{ job.salary }}</p>
                    <p class="card-text"><b>Posted On:</b> {{ job.date_posted }}</p>
                    {% for company in companies %}
                        {% if job.posted_by == company.user %}
                            <p><b>About the Company:</b><br>&emsp;{{ company.company_description }}</p>
                        {% endif %}
                    {% endfor %}
                    <b>Skills required:</b>
                    <span class="list-group">
                        {% for skill in job.skills.all %}
                            <li class="list-group-item">{{ skill }}</li>
                        {% endfor %}
                    </span>
                </div>
            </div><!-- End of card -->
            <div class="col-md-12 text-center">
                {% if user_type == 'student' or user_type == "alumni" %}
                    {% if applied == False %}
                        <button class = "btn" type="submit" name="apply" value="Apply&Save">&nbsp;Apply To Job</button>
                    {% else %}
                        <small>Your application has been submitted.</small>
                    {% endif %}
                {% else %}
                    {% if job.status == 'Open' %}
                            <button class="btn" type="submit" name="viewcandidates" value="ViewCandidates&Save">View Applicants</button>
                            <a href="{% url 'job_to_student_skills' job.id %}"><button class="btn" type="button">View Student Candidates</button></a>
                            <a href="{% url 'job_to_alumni_skills' job.id %}"><button class="btn" type="button">View Alumni Candidates</button></a>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </div><!-- End of job-detail-box -->
    <br><br>
{% endblock %}