{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    My Applications - Murdoch Dubai Job Portal
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Applications.css' %}"/>
{% endblock %}

{% block image %}
<div id="container">
    <img src="{% static 'images/5.png' %}" alt="Home page image">
</div>
{% endblock %}
{% block content %}
    <div id="applicationBody" class="col-12">
        {% if jobs_applied %}
            <div class="text-center">
                <h2>My Applications</h2>
                <hr>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>Job Title</th>
                            <th>Date Applied</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs_applied %}
                            <tr class="text-center">
                                <td><a href="{% url 'job_details' job.job_id_id %}">{{ job.job_id }}</a></td>
                                <td>{{ job.date_applied }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div id="noApplications">
                <h2 class="text-uppercase text-center">You have not applied to any jobs yet</h2>
                <p class="text-center">Looking for a job? Try this <a href="{% url 'view_jobs' %}">link</a> to view jobs posted by employers for students.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}