{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    Re-Open Jobs - Murdoch Dubai Career Portal
{% endblock %}

{% block content %}
        <form method='POST'>
            {% csrf_token %}
            <h2 class="text-center">Are you sure you wish to reopen the job {{ job.job_title }}?</h2>

            <br/><br/>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                    Re-Open the Job
                </button>
                <button class="btn btn-secondary" type="button">
                    <a class="text-decoration-none text-white" href="{% url 'job_details' job.id %}">Cancel</a>
                </button>
            </div>
        </form>
{% endblock %}