{% extends "theme.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Sitemap.css' %}"/>
{% endblock %}

{% block title %}
    Sitemap - Murdoch Dubai Career Portal
{% endblock %}

{% block content %}
    <div id="sitemapBody">
        <h1 class="text-center">Sitemap</h1>
        <div class="col-12 text-center">
            <p><a href="/">Home</a></p>
            <p><a href="{% url 'log_in' %}">Log In</a></p>
            <p><a href="{% url 'password_reset' %}">Forgot Password</a></p>
            <hr>
            <h3>About Us</h3>
            <p><a href="{% url 'faq' %}">FAQ</a></p>
            <p><a href="{% url 'anti_scam' %}">Anti-Scam</a></p>
            <p><a href="{% url 'terms' %}">Terms</a></p>
            <p><a href="{% url 'privacy' %}">Privacy</a></p>
            <hr>
            <h3>Sign Up</h3>
            <p><a href="{% url 'student_registration' %}">Student Sign-Up</a></p>
            <p><a href="{% url 'employer_register' %}">Employer Sign-Up</a></p>
            <p><a href="{% url 'alumni_register' %}">Alumni Sign-Up</a></p>
            <hr>
            {% if user_type == 'student' or user_type == 'alumni' %}
                <h3>Student</h3>
                <p><a href="{% url 'view_student_profile' %}">My Profile</a></p>
                <p><a href="{% url 'edit_student_profile' %}">Edit Profile</a></p>
                <p><a href="{% url 'my_applications' %}">My Applications</a></p>
                <p><a href="{% url 'view_jobs' %}">Browse Jobs</a></p>
                <hr>
            {% elif user_type == 'employer' %}
                <h3>Employer</h3>
                <p><a href="{% url 'view_employer_profile' %}">My Profile</a></p>
                <p><a href="{% url 'edit_employer_profile' %}">Edit Profile</a></p>
                <p><a href="{% url 'view_students' %}">Browse Students</a></p>
                <p><a href="{% url 'view_students' %}">Browse Alumni</a></p>
                <p><a href="{% url 'create_job' %}">Post a Job</a></p>
                <p><a href="{% url 'view_jobs' %}">My Jobs</a></p>
                <hr>
            {% elif user_type == "admin" %}
                <h3>Admin</h3>
                <p><a href="{% url 'view_admin_profile' %}">My Profile</a></p>
                <p><a href="{% url 'edit_admin_profile' %}">Edit Profile</a></p>
                <p><a href="{% url 'admin_register' %}">Create New Admin</a></p>
                <p><a href="{% url 'view_jobs' %}">Browse Jobs</a></p>
                <p><a href="{% url 'view_students' %}">Browse Students</a></p>
                <p><a href="{% url 'view_alumni' %}">Browse Alumni</a></p>
                <hr>
            {% endif %}

            {% if user_type == "student" or user_type == "employer" %}
                <h3>Help Desk</h3>
                <p><a href="{% url 'HelpDesk' %}">Help Desk</a></p>
                <p><a href="{% url 'MyHelpDeskRequests' %}">My HelpDesk Requests</a></p>
                <hr>
            {% elif user_type == "admin" %}
                <p><a href="{% url 'admin:index' %}">Dashboard</a></p>
                <p><a href="{% url 'statistics' %}">Statistics</a></p>
                <p><a href="../admin/Home/job/add">Post a Job</a></p>
                <p><a href="{% url 'admin_create_job' %}">Create Job Without Existing Company Account</a></p>
                <p><a href="../admin/Home/industry">Add Industry</a></p>
                <p><a href="../admin/Home/skill">Add Skill</a></p>
                <p><a href="../admin/Home/jobtype">Add Job Type</a></p>
                <hr>
                <h3>Help Desk</h3>
                <p><a href="{% url 'HelpDeskRequests' %}">HelpDesk Requests</a></p>
                <hr>
            {% endif %}
        </div>
    </div>
{% endblock %}