{% extends "theme.html" %}
{% load staticfiles %}

<!-- Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Profile.css' %}"/>
{% endblock %}

{% block title %}
    Student Details - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="profileBody">
        <div class="row py-2">
            <div class="icon col-md-6 col-xs-12 text-md-right">
                {% if student.dp %}
                    <img src="{{ student.dp.url }}" height="300.0em" width="300.0em"><br>
                {% else %}
                    <img src="{% static 'DefaultDP.jpg' %}" height="300.0em" width="300.0em"><br>
                {% endif %}
            </div>
            <div class="student-profile col-md-6 col-xs-12">
                <h3>{{ student.user.first_name }} {{ student.user.last_name }} </h3>
                <p><b>Email:</b> {{ student.user }}</p>
                <p><b>Gender:</b> {{ student.gender }}</p>
                <p><b>Date of Birth:</b> {{ student.date_of_birth }}</p>

                <b>Skills:</b>
                {% for skill in student.skills.all %}
                    <li>{{ skill }}</li>
                {% endfor %}
                <b>Majors: </b>
                {% for major in student.majors.all %}
                    <li>{{ major }}</li>
                {% endfor %}
            </div>
        </div><!-- End of row -->
        <div class="text-center">
            {% if user_type == 'admin' %}
            <a  class="text-decoration-none text-white" href="{% url 'admin_edit_student_profile' student.user_id %}">
                <button type="submit" class="btn btn-primary">Edit Profile</button>
            </a>
            {% endif %}
            <a class="text-decoration-none text-white" href="{% url 'get_student_cv_file' student.user_id %}">
                <button type="button" class="btn btn-primary">Download CV</button>
            </a>
        </div>
    </div>
{% endblock %}