{% extends "theme.html" %}
{% load staticfiles %}

<!-- Additional Stylesheets -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/AboutUs.css' %}"/>
{% endblock %}

{% block title %}
    Terms - Murdoch Dubai Job Portal
{% endblock %}

{% csrf_token %}

{% block content %}
    <div class="col-12">
        <h1 class="text-center"><u>Terms & Conditions</u></h1>
        <br>
        <h3>Definitions</h3>
        <p>Each of the terms mentioned below have in these Conditions of Sale JobClass Service (hereinafter the
            "Conditions") the following meanings:</p>
        <ol>
            <li>Announcement : refers to all the elements and data (visual, textual, sound, photographs, drawings),
                presented by an Advertiser editorial under his sole responsibility, in order to buy, rent or sell a
                product or service and broadcast on the Website and Mobile Site.
            </li>
            <li>Advertiser : means any natural or legal person, a major, established in France, holds an account and
                having submitted an announcement, from it, on the Website. Any Advertiser must be connected to the
                Personal Account for deposit and or manage its ads. Ad first deposit automatically entails the
                establishment of a Personal Account to the Advertiser.
            </li>
            <li>Personal Account : refers to the free space than any Advertiser must create and which it should connect
                from the Website to disseminate, manage and view its ads.
            </li>
            <li>JobClass : means the company that publishes and operates the Website and Mobile Site {YourCompany},
                registered at the Trade and Companies Register of Cotonou under the number {YourCompany Registration
                Number} whose registered office is at {YourCompany Address}.
            </li>
            <li>Customer Service : JobClass means the department to which the Advertiser may obtain further information.
                This service can be contacted via email by clicking the link on the Website and Mobile Site.
            </li>
            <li>JobClass Service : JobClass means the services made available to Users and Advertisers on the Website
                and Mobile Site.
            </li>
            <li>Website : means the website operated by JobClass accessed mainly from the URL http://www.bedigit.com and
                allowing Users and Advertisers to access the Service via internet JobClass.
            </li>
            <li>Mobile Site : is the mobile site operated by JobClass accessible from the URL http://www.bedigit.com and
                allowing Users and Advertisers to access via their mobile phone service.
            </li>
            <li>User : any visitor with access to JobClass Service via the Website and Mobile Site and Consultant
                Service JobClass accessible from different media.
            </li>
        </ol>
        <br>
        <h3>Subject</h3>
        <p>These Terms and Conditions Of Use establish the contractual conditions applicable to any subscription by an
            Advertiser connected to its Personal Account from the Website and Mobile Site.</p>
        <br>
        <h3>Acceptance</h3>
        <p>Any use of the website by an Advertiser is full acceptance of the current Terms.</p>
        <br>
        <h3>Responsibility</h3>
        <p>Responsibility for JobClass can not be held liable for non-performance or improper performance of due
            control, either because of the Advertiser, or a case of major force.</p>
        <br>
        <h3>Modification of these terms</h3>
        <p>JobClass reserves the right, at any time, to modify all or part of the Terms and Conditions.<br><br>Advertisers
            are advised to consult the Terms to be aware of the changes.</p>
        <br>
        <h3>Miscellaneous</h3>
        <p>If part of the Terms should be illegal, invalid or unenforceable for any reason whatsoever, the provisions in
            question would be deemed unwritten, without questioning the validity of the remaining provisions will
            continue to apply between Advertisers and JobClass.</p>
        <p><em>Any complaints should be addressed to Customer Service JobClass.</em></p>
        <br>
    </div>
{% endblock %}
