{% extends "theme.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/View.css' %}"/>
{% endblock %}

{% block content %}
    <div id="viewCandidateBody" class="col-12">
        {% if alumniApplicants %}
            <div>
                <table class="table table-sm text-center">
                    <thead class="thead-dark">
                    <tr class="text-center">
                        <th>Name</th>
                        <th>Email</th>
                        <th>CV</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for applicants in alumniApplicants %}
                        <tr class="text-center">
                        <td>{{ applicants.user.first_name }} {{ applicants.user.last_name }}</td>
                        <td>{{ applicants.user }}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary">
                                <a class="text-decoration-none text-white" href="{{ applicants.applied.cv.url }}">DOWNLOAD CV</a>
                            </button>
                        </td>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="noApplications">
                <h1 class="text-center">No suitable applicants</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}