{% extends "theme.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/View.css' %}"/>
{% endblock %}

{% block content %}
    {% if studentCandidates or alumniCandidates %}
        <div id="viewCandidateBody" class="col-12">
            <div>
                <table class="table table-sm text-center">
                    <thead class="thead-dark">
                    <tr class="text-center">
                        <th>Date Applied</th>
                        <th>Student Name</th>
                        <th>CV</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for candidates in studentCandidates %}
                        <tr class="text-center">
                        <td>{{ candidates.date_applied }}</td>
                        <td>{{ candidates.applied }}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary">
                                <a class="text-decoration-none text-white" href="{% url 'get_student_cv_file' candidates.applied.user_id %}">DOWNLOAD CV</a>
                            </button>
                        </td>
                    {% endfor %}
                    {% for candidates in alumniCandidates %}
                        <tr class="text-center">
                        <td>{{ candidates.date_applied }}</td>
                        <td>{{ candidates.applied }}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary">
                                <a class="text-decoration-none text-white" href="{% url 'get_alumni_cv_file' candidates.applied.user_id %}">DOWNLOAD CV</a>
                            </button>
                        </td>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div id="noApplications">
            <h1 class="text-center">No applicants</h1>
        </div>
    {% endif %}
{% endblock %}