{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    View Alumni Candidates - Murdoch Dubai Career Portal
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/View.css' %}"/>
{% endblock %}

{% block content %}
    {% if alumniApplicants %}
        <div id="viewCandidateBody" class="col-12">
            <div>
                <h2>Alumni Candidates</h2>
                <hr>
                <br><br>
                <table class="table table-sm text-center">
                    <thead class="thead-dark">
                    <tr class="text-center">
                        <th>Name</th>
                        <th>Email</th>
                        <th>CV</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for applicants in alumniApplicants %}
                        <tr class="text-center">
                            <td><a href="{% url 'alumni_details' applicants.user_id %}">{{ applicants.user.first_name }} {{ applicants.user.last_name }}</a></td>
                            <td>{{ applicants.user }}</td>
                            <td class="text-center">
                                <a class="text-decoration-none text-white" href="{% url 'get_alumni_cv_file' applicants.user_id %}">
                                    <button type="button" class="btn btn-primary">DOWNLOAD CV</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="noApplications">
            <h1 class="text-center">No suitable candidates</h1>
        </div>
    {% endif %}
{% endblock %}