{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    View Jobs - Murdoch Dubai Job Portal
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Table.css' %}"/>
{% endblock %}

{% block content %}
    {% if jobs %}
        <div class="row">
            {% if user_type != "employer" %}
                <div class="modal fade" id="jobFilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-danger text-white">
                                <h5 class="modal-title" id="exampleModalLabel">Filter Job Listings</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="POST">{% csrf_token %}
                                <div class="modal-body form-group">
                                    <b>Duration (in months):</b><br>
                                    {{ form.min_duration }} {{ form.max_duration }}<br><br>
                                    <b>{{ form.industry_id.label }}:</b> {{ form.industry_id }}<br><br>
                                    <b>{{ form.location.label }}:</b> {{ form.location }}<br><br>
                                    <b>{{ form.job_type_id.label }}:</b> {{ form.job_type_id }}<br><br>
                                    <b>Salary (AED/month):</b><br>
                                    {{ form.min_salary }} {{ form.max_salary }}<br>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div id="job-list-body" class="col-12">
                {% if user_type == "employer" %}
                    <h3 class="text-center">My Jobs</h3>
                    <hr class="horizontal-rule">
                {% else %}
                    <h3 class="text-center">Browse Jobs</h3>
                    <hr class="horizontal-rule">
                {% endif %}
                {% for job in jobs %}
                    <div id="job-cards" class="card">
                        <div class="card-body">
                            {% if user_type == "employer" %}
                                <div class="card-image-left">
                                    {% if obj.logo %}
                                        <img src="{{ obj.logo.url }}" height="150.0em"
                                             width="150.0em">
                                    {% else %}
                                        <img src="{% static 'DefaultDP.jpg' %}" height="150.0em"
                                             width="150.0em">
                                    {% endif %}
                                </div>
                                <h3 class="card-title">
                                    <a href="{% url 'job_details' job.id %}">{{ job.job_title }}</a>
                                </h3>
                                <div class="card-subtitle">
                                    <p><span>Status:</span> {{ job.status }} </p>
                                </div>
                                <div class="card-text">
                                    <p><span class="job-specs font-weight-bold">Salary:</span>AED {{ job.salary }}</p>
                                </div>
                                <div class="card-text">
                                    <p><span class="job-specs font-weight-bold">Duration:</span>{{ job.duration }} months</p>
                                </div>
                                <div class="card-text">
                                    <p><span class="job-specs font-weight-bold">Industry:</span>{{ job.industry_id }} </p>
                                </div>
                                <div class="card-text">
                                    <p><span class="job-specs font-weight-bold">Job Type:</span>{{ job.job_type_id }} </p>
                                </div>
                                <div class="card-text">
                                    <p><span class="job-specs font-weight-bold">Location:</span>{{ job.location }} </p>
                                </div>
                            {% else %}
                                {% for company in companies %}
                                    {% if job.posted_by == company.user %}
                                        <div class="card-image-left">
                                            {% if obj.logo %}
                                                <img src="{{ obj.logo.url }}" height="150.0em"
                                                     width="150.0em">
                                            {% else %}
                                                <img src="{% static 'DefaultDP.jpg' %}" height="150.0em"
                                                     width="150.0em">
                                            {% endif %}
                                        </div>
                                        <h3 class="card-header">
                                            <a href="{% url 'job_details' job.id %}"> {{ job.job_title }} </a>
                                        </h3>
                                        <h4 class="card-title"><span class="font-weight-bold">Company Name:</span>  {{ company.company_name }}</h4>
                                        {% if user_type == "admin" %}
                                            <div class="card-subtitle">
                                                <p><span class="font-weight-bold">Status:</span> {{ job.status }} </p>
                                            </div>
                                        {% endif %}
                                        <p class="card-text">{{ job.description }}</p>
                                        <p class="card-text"><span class="font-weight-bold">Salary:</span> AED {{ job.salary }} </p>
                                        <p class="card-text"><span class="font-weight-bold">Duration:</span> {{ job.duration }} months</p>
                                        <p class="card-text"><span class="font-weight-bold">Industry:</span> {{ job.industry_id }} </p>
                                        <p class="card-text"><span class="font-weight-bold">Job Type:</span> {{ job.job_type_id }} </p>
                                        <p class="card-text"><span class="font-weight-bold">Location:</span> {{ job.location }} </p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div><!-- End of job-list-body -->
        {% else %}
            <h1 class="text-center">No jobs to display</h1>
        {% endif %}
        </div><!-- End of row -->
        <div id="filter" class="text-center">
            <button type="button" class="btn" data-toggle="modal" data-target="#jobFilter">
              Filter Jobs
            </button>
        </div>
{% endblock %}
