{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    View Jobs - Murdoch Dubai Job Portal
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/View.css' %}"/>
{% endblock %}

{% block image %}
<div id="container">
    <img src="{% static 'images/3.png' %}" alt="Home page image">
</div>
{% endblock %}
{% block content %}
    <div id="viewBody">
        {% if jobs %}
            {% if user_type == "employer" %}
                <h2 class="text-center">My Jobs</h2>
                <hr>
                <br>
            {% else %}
                <h2 class="text-center">Browse Jobs</h2>
                <hr>
                <br>
            {% endif %}
            {% if user_type != "employer" %}
                <div id="filter" class="text-center d-block d-sm-none">
                    <button type="button" class="btn" data-toggle="modal" data-target="#jobFilter">
                      Filter Jobs
                    </button>
                </div>
                <div id="jobFilter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-danger text-white">
                                <h5 class="modal-title" id="exampleModalLabel">Filter Job Listings</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div><!-- End of modal-header -->
                            <form method="POST" action="{% url 'view_jobs' %}">{% csrf_token %}
                                <div class="modal-body form-group">
                                    <b>Duration:</b><br>
                                    {{ form.min_duration }} {{ form.max_duration }}<br><br>
                                    <b>{{ form.industry_id.label }}:</b> {{ form.industry_id }}<br><br>
                                    <b>{{ form.location.label }}:</b> {{ form.location }}<br><br>
                                    <b>{{ form.job_type_id.label }}:</b> {{ form.job_type_id }}<br><br>
                                    <b>Salary (AED/month):</b><br>
                                    {{ form.min_salary }} {{ form.max_salary }}<br>
                                </div><!-- End of modal-body -->
                                <div class="modal-footer">
                                    <a href="{% url 'view_jobs' %}"><button type="reset" class="btn btn-danger">Reset</button></a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div><!-- End of modal-footer -->
                            </form>
                        </div><!-- End of modal-content -->
                    </div><!-- End of modal-dialog -->
                </div><!-- End of jobFilter -->
            {% endif %}
            <div class="row">
                {% if user_type != "employer" %}
                    <div id="filterForm" class="col-md-4 col-sm-4 col-xs-12 d-none d-sm-block">
                        <form class="p-4 bg-light border border-secondary mx-auto" method="POST" action="{% url 'view_jobs' %}">{% csrf_token %}
                            <div id="formHeader" class="text-center">
                                <h4 class="font-weight-bold">Filter Job Listings</h4>
                                <hr>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="form-group col-3">{{ form.min_duration|as_crispy_field }}</div>
                                <div class="form-group col-3">{{ form.max_duration|as_crispy_field }}</div>
                                <div class="form-group col-6">{{ form.duration_type|as_crispy_field }}</div>
                            </div>
                            <div class="form-group">
                                <div>{{ form.industry_id|as_crispy_field }}</div>
                            </div>
                            <div class="form-group">
                                <div>{{ form.location|as_crispy_field }}</div>
                            </div>
                            <div class="form-group">{{ form.job_type_id|as_crispy_field }}</div>
                            <div class="form-row">
                                <div class="form-group col-6">{{ form.min_salary|as_crispy_field }}</div>
                                <div class="form-group col-6">{{ form.max_salary|as_crispy_field }}</div>
                            </div>
                            <div class="form-footer text-center">
                                <a href="{% url 'view_jobs' %}"><button type="button" class="btn btn-danger">Reset</button></a>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div><!-- End of modal-footer -->
                        </form>
                    </div>
                {% endif %}
                <div class="col-md-8 col-sm-8 col-xs-12">
                    {% for job in jobs %}
                        {% if user_type != "employer" %}
                            {% for company in companies %}
                                {% if job.posted_by == company %}
                                    <div class="row">
                                        <div class="card-group col-12">
                                            <div class="card bg-light col-md-9 col-xs-7">
                                                <div class="card-body">
                                                    <h4 class="card-title py-2 border-bottom border-secondary">
                                                        {{ job.job_title }}
                                                        {% if user_type == 'student' or user_type == 'alumni' %}
                                                            {% if job.id in jobs_applied %}
                                                                <span class="badge badge-info">Applied</span>
                                                            {% endif %}
                                                        {% endif %}
                                                    </h4>
                                                    <b>Job Description:</b>
                                                    <p class="card-text">
                                                        {{ job.description }}
                                                    </p>
                                                </div><!-- End of card-body -->
                                            </div>
                                            <div class="card bg-light col-md-3 col-xs-5">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{ job.location }}
                                                    </p>
                                                    <p class="card-text">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        {% if job.duration %}
                                                            {{ job.duration }}
                                                        {% endif %}
                                                        {{ job.duration_type }}
                                                        - {{ job.job_type_id }}
                                                    </p>
                                                    <p class="card-text">
                                                        <i class="fa fa-industry" aria-hidden="true"></i> {{ job.industry_id }}
                                                    </p>
                                                    <p class="card-text">
                                                        <i class="fa fa-money" aria-hidden="true"></i> {{ job.salary_min }} - {{ job.salary_max }} AED/Month
                                                    </p>
                                                </div><!-- End of card-body -->
                                                <div class="card-footer">
                                                    <a class="card-link" href="{% url 'job_details' job.id %}">
                                                        <button class="btn btn-primary w-100">View more Details</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div><!-- End of row -->
            {% for job in jobs %}
                {% if user_type == "employer" %}
                    <div class="row employer-view">
                        <div class="card-group col-12 w-75 mb-4">
                            <div class="card bg-light col-md-9 col-xs-7">
                                <div class="card-body">
                                    <h4 class="card-title py-2 border-bottom border-secondary">
                                        {{ job.job_title }}
                                        {% if job.is_active == 'Pending' %}
                                            <span class="badge badge-info">{{ job.is_active }}</span>
                                        {% elif job.is_active == 'Rejected' %}
                                            <span class="badge badge-danger">{{ job.is_active }}</span>
                                        {% elif job.is_active == 'Accepted' %}
                                            <span class="badge badge-success">{{ job.is_active }}</span>
                                        {% endif %}
                                    </h4>
                                    <b>Job Description:</b>
                                    <p class="card-text">
                                        {{ job.description }}
                                    </p>
                                </div><!-- End of card-body -->
                            </div>
                            <div class="card bg-light col-md-3 col-xs-5">
                                <div class="card-body">
                                    <p class="card-text">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{ job.location }}
                                    </p>
                                    <p class="card-text">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        {% if job.duration %}
                                            {{ job.duration }}
                                        {% endif %}
                                        {{ job.duration_type }}
                                        - {{ job.job_type_id }}
                                    </p>
                                    <p class="card-text">
                                        <i class="fa fa-industry" aria-hidden="true"></i> {{ job.industry_id }}
                                    </p>
                                    <p class="card-text">
                                        <i class="fa fa-money" aria-hidden="true"></i> {{ job.salary_min }} - {{ job.salary_max }} AED/Month
                                    </p>
                                </div><!-- End of card-body -->
                                <div class="card-footer text-center">
                                    <a class="card-link" href="{% url 'job_details' job.id %}">
                                        <button class="btn btn-primary w-100">View more Details</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div id="no-jobs">
                {% if user_type != "student" and user_type != "alumni" %}
                    <h1 class="text-center">No jobs to display</h1>
                    <p class="text-center">Want to create a new job? Click <a href="{% url 'create_job' %}">this</a> link to do just that!</p>
                {% else %}
                    <h1 class="text-center">Sorry about that. It looks like there are no Jobs available right now.</h1>
                {% endif %}
            </div>
        {% endif %}
    </div><!-- End of viewBody -->
{% endblock %}
