{% extends "theme.html" %}
{% load staticfiles %}

<!-- Additional Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" rel="text/css" href="{% static 'css/Login.css' %}"/>
{% endblock %}

{% block title %}
    Password Reset Email - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <body style="min-height: 400px; margin-bottom: 150px;">
    <form method="post">
        {% csrf_token %}
        <div class="headtop">
            <h2>Password Reset</h2>
        </div>
        <div class="login-box-body">
            <div class="form-group has-feedback">
                <strong> {{ form.as_p }} </strong>
            </div>

            <div style="text-align:right;">
                <button type="submit" href="/password_link_sent" style="margin-right: 40px" class="mybutton">Submit</button>
            </div>
        </div>

        <!-- /.login-box-body -->
        <script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' /* optional */
                });
            });


        </script>
    </form>
    </body>
    <footer style="position: fixed; font-size: medium">
{% endblock %}