{% extends "theme.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" rel="text/css" href="{% static 'css/Password.css' %}"/>
{% endblock %}

{% block title %}
    Password Reset Confirmation - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <div class="col-12">
        <div id="resetComp" class="text-center">
            <p>Your password has been set. You may go ahead and <a href="../../login">sign in</a> now.</p>
        </div>
    </div>
{% endblock %}