{% extends "theme.html" %}
{% load staticfiles %}

<!-- Additional Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" rel="text/css" href="{% static 'css/Password.css' %}"/>
{% endblock %}

{% block title %}
    Password Reset Email - Murdoch Dubai Career Portal
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="col-12 text-center">
            <h2>Forgot Password?</h2>
            <div id="resetForm">
                <p>Enter the Email Address associated with your account</p>
                <small>We will email you a link to reset your password if the email matches an existing account</small>
                <div class="form-group">{{ form.as_p }}</div>
                <br>
                <button type="submit" href="/password_link_sent" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
        <!-- /.login-box-body -->
        <script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' /* optional */
                });
            });


        </script>
{% endblock %}