{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    Password Reset - Murdoch Dubai Career Portal
{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="col-12">
            <div id="resetForm" class="text-center">
                <h3>Change password</h3>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <button class="btn btn-primary" type="submit">Create password</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="col-12">
            <div id="resetForm" class="text-center">
                <p> This password reset link has become invalid.</p>
                <p> You can request for a new password link to be sent <a href="{% url 'password_reset' %}">here</a>.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
