{% autoescape off %}
{% load staticfiles %}
We have received a password change request for the account with the username '{{ user.get_username }}', below
we have provide a link that will allow you to reset your password.

https://murdochdubaicareerportal.com{% url 'password_reset_confirm' uidb64=uid token=token %}

If you did not request a password reset, this email can be ignored.

Regards,
The Murdoch University Dubai Team

---
If you’re having trouble clicking the "Reset Password" button, copy and paste the URL into your web browser instead.<br>
<img src="{% static 'images/careerportal_signaturebanner.png' %}" alt="Career Portal Signature Banner">
{% endautoescape %}
