{% extends "theme.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" rel="text/css" href="{% static 'css/Password.css' %}"/>
{% endblock %}

{% block title %}
    Password Reset Email Sent - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <div class="col-12">
        <div id="linkSent" class="text-center">
            <h2>Password Reset Link Sent</h2>
            <br>
            <p>We have emailed your password reset link. If an account exists with the email you entered, you should receive
                the link soon.</p>
            <p>If you don't receive the email, please check your spam folder.</p>
            <br>
            <hr>
            <br>
            <p>Emails can take a few minutes to be sent.</p>
            <p>If you still don't see the email after 10 minutes go <a href="{% url 'password_reset' %}">back</a>
                and ensure that you have typed in the proper email address.</p>
        </div>
    </div>
{% endblock %}