{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    Password Reset - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    {% if validlink %}
        <h3>Change password</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create password</button>
        </form>
    {% else %}
        <p> This password reset link has become invalid. </p>
        <p> You can request for a new password link to be sent - <a href="{% url 'password_reset' %}">here</a>. </p>
    {% endif %}
{% endblock %}
