#faqBody {
    margin: 2% auto;
}

#faqBody .card {
    margin: 2% auto;
    width: 80vw;
}

#privacyBody {
    padding: 0 3%;
    background-color: #F5F5F5;
    border: 1px solid #000000;
}

#termsBody {
    padding: 0 3%;
    background-color: #F5F5F5;
    border: 1px solid #000000;
}

