#container {
    position: relative;
}

#container img {
    height: auto;
    width: 100%;
}

#applicationBody #noApplications {
    height: 20vh;
    margin: 5% 0;
}

#applicationBody table {
    width: auto;
    margin: 5% auto;
}