* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body{
    position: relative;
}

body .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#navigationBar {
    position: relative;
}

#navigationBar #navTop {
    background-color: #CC0000;
    height: 100px;
}

#navigationBar .navElements {
    margin: 7px 50px;
}

#navTop #murdochLogo img {
    width: 170px;
    height: 60px;
}

/*#userElements {
    margin: 5px 20px;
}*/

#userElements #signup, #login {
    color: #FFF;
    background-color: #CC0000;
    border: 2px solid #FFF;
    border-radius: 12px;
    padding: 10px;
    margin: 0 3px;
}

#userElements #userIcon {
    color: #FFF;
}

#userElements svg {
    width: 30px;
    height: 30px;
}

.dropdown {
    display: inline-block;
}

/*#userElements #signup{
}

#userElements #login{
}*/

#navigationBar #navBottom {
    background-color: #1D1A1A;
}

#navigationBar #navBottom button {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

#navigationBar #navBottom button:hover {
    color: #CC0000;
    background-color: #FFF;
}

footer{
    background-color: #1D1A1A;
    color: white;
    font-size: 0.85em;
    height:30em;
    padding-top: 5px;
}

footer .row hr {
    color: white;
}

#extra-info {
    margin-left: 15px;
    margin-right: 15px;
}

#extra-info p {
    color: white;
    font-size: 0.9em;
}

ul{
    list-style-type:none;
}

li>a{
    color: white;
    text-decoration: none;
}

footer .row {
    margin-left: 15px; 
    margin-right: 15px;
}

footer h3 {
    text-transform: uppercase;
}

#quoteBody {
    width: 60%;
    margin: auto;
}

footer #social-section img {
    width: 40px;
    height: 40px;
}
