#job-detail-box {
    margin: auto;
    width: 80%;
}

#job-detail-box button {
    color: #FFF;
    background-color: #CC0000;
    border: 2px solid #FFF;
    border-radius: 12px;
    padding: 10px;
    margin: 0 3px;
}
