#edit-admin-body {
    text-align: center;
}

#edit-admin-body a {
    color: #FFFFFF;
}

#edit-admin-body button {
    background-color: #E12744;
    color: #FFFFFF;
    border: 2px solid #FFF;
    border-radius: 6px;
    padding: 6px 12px;
}