/*Form {
    border-color: #D3D3D3;
    border-style: solid;
    color: black;
    width: 40%;
    height: 320px;
    margin: auto;
    margin-top:20px;
    position: relative;
    border: 3px solid #D3D3D3;
}

h2 {
    padding-left:20px;
    padding-top:5px;
}

.headtop{
       width: 100%;
       height:40px;
}

.bgimg {
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1)), url(img/erpimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.btn-size {
    height: 30px;
    font-size: 18px;
}
body{
    font-family: Arial;
}

input[type=email], select {
  width: 90%;
  padding: 10px 20px;
  margin: 12px 14px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 90%;
  padding: 10px 20px;
  margin:12px 14px;;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label{
    margin:12px 14px;;
}*/

#formbox {
  height: 60%;
  margin: 10% 0;
  padding: 8px;
  border: 1px solid #CC0000;
  border-radius: 8px;
  background-color: #F9F9F9;
}

#formbox hr {
  width: 70%;
  background-color: #000;
}

#formbox button {
  color: #FFF;
  background-color: #CC0000;
  border: 2px solid #FFF;
  border-radius: 4px;
  padding: 10px;
  margin: 0 3px;
}

#formbox .form-group {
  width: 70%;
  margin: auto;
}