#logForm {
  margin: auto;
  border: 1px solid black;
  border-radius: 8px;
  width: 50%;
}

#topContent {
  padding: 1%;
  background-color: #CC0000;
  color: #FFFFFF;
}

#topContent img{
  height: 75px;
}

#formbox {
  padding: 2.5%;
  background-color: #F9F9F9;
}

#formbox hr {
  width: 70%;
  background-color: #000;
}

#formbox button {
  color: #FFF;
  background-color: #CC0000;
  border: 1px solid #FFF;
  border-radius: 8px;
  margin: 0 3px;
}

#formbox .form-group {
  width: 90%;
  margin: auto;
}