.overall-page{
    display:flex;
}

.page{
    display:flex;
}

.icon{
    flex:0.2;
    margin-left:4.3em;
    padding-top:1em;
    padding-bottom:1em;
}

.sidebar{
    margin-left: auto;
    margin-top:0em;
    width: 20%;
    height: 15%;
    background-color: #E8E8E8;
    padding-top: 0px;
    padding-bottom: 2em;
    text-align: center;
    border: 0.05em solid grey;
}

.inside-container{
    margin: auto;
    width: 70%;
    height: auto;
    background-color: #E8E8E8;
    padding-top: 0px;
    padding-bottom: 3em;
    align: center;
    border: 0.05em solid grey;}

 .inside-container2{
    margin: auto;
    width: 80%;
    height: auto;
    background-color: #F8F8F8;
    padding-top:0.0em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    align: center;
    border: 0.05em solid grey;
}

.heading{
	Background-color: #E8E8E8;
	height: 3em;
	width:85%;
	margin-left:7.4%;
	border:0.05em solid grey;
}

input[type=text],select{
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="file"] {
width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.button{
    background-color:#D3D3D3;
    height: 2em;
    width: 80%;
}

.button2{
    background-color:rgb(204,0,0);
    height: 2em;
    width:10em;
    align:center;
    border-radius: 0.45em;
    margin-left: 20%;
    padding:0.5em;
    margin-top:3em;
    color:white;
 }

.buttons{
    background-color:rgb(204,0,0);
    height: 2em;
    width:10em;
    border-radius: 0.45em;
    display:inline-block;
    text-align: center;
    color:white;
}


.buttons2{
    background-color:rgb(204,0,0);
    height: 2em;
    width:10em;
    align:center;
    border-radius: 0.45em;
    margin-bottom:0.75em;
    padding:0.5em;
    color:white;
}

.button2>a, .buttons>a {
    color:white;
}

.message{
    Font-size:14px;
}

.job_post {
    margin: auto;
    width: 65%;
    background-color: #F8F8F8;
    padding-top:0.0em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    align: center;
    border: 0.05em solid grey;
}

p.view{
    border-style: thin;
    height: 25px;
}

.msg{
    margin:auto;
    width:55%;
    height: 50%;
    background-color: #E8E8E8;
    padding-top: 0px;
    padding-bottom: 2em;
    text-align: center;
    border: 0.05em solid grey;
}

.msg2{
    margin:auto;
    width:60%;
    height: 40%;
    background-color: #F8F8F8;
    padding-top: 0px;
    padding-bottom: 2em;
    text-align: center;
    border: 0.05em solid grey;
}
