.row {
  
}

#sidebar {
  border: 1px solid #CC0000;
  border-radius: 8px;
  color: #000;
  background-color: #F9F9F9;
  height: 60%;
  margin: 8em 1em;
}

#sidebar #sidebarHead {
  color: #FFF;
  background-color: #CC0000;
  padding: 5px 2px 3px 2px;
}

#sidebar #sidebarContent {
  padding: 0 4px;
}

#sidebar #filter {
  color: #FFF;
  background-color: #CC0000;
  border: 2px solid #FFF;
  border-radius: 4px;
  padding: 10px;
}

#job-list-body {
  margin: 5em 1em; 
}

#job-cards {
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #F9F9F9;
  margin-top: 3em;
}
