.row {
  margin: 0;
}

#viewBody {
  margin: 2% 0;
}

#filterForm {
  border: 1px solid black;
  border-radius: 12px;
  height: 50%;
  background-color: #F9F9F9;
}

#filterForm #formHeader {
  background-color: #CC0000;
}

.horizontal-rule {
  background-color: #000000;
  width: 60%;
}

.job-cards {
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #F9F9F9;
  margin: 2vh auto;
}

#filter button {
  color: #FFF;
  background-color: #CC0000;
  border: 2px solid #FFF;
  border-radius: 12px;
}

.padding {
  margin: 10px 0;
}

/******** Mobile Devices ********/
@media (max-width: 767px) {
    #filter button {
      width: 100%;
    }
    #job-cards {
      width: 80vw;
    }
}

/******** Tablet Devices ********/
@media (min-width: 768px) and (max-width: 991px) {

}

/******** Desktop Devices ********/
@media (min-width: 992px) {
  #job-cards {
    width: 60vw;
  }
}