{% extends "theme.html" %}
{% load staticfiles %}

<!-- Additional Stylesheets -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/HelpDesk.css' %}"/>
{% endblock %}

{% block title %}
    My HelpDesk Requests - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    {% if helpdeskRequests %}
        <div id="helpdeskRequestBody" class="col-12">
            <h2 class="text-center">My HelpDesk Requests</h2>
            <hr>
            <br><br>
            <table class="table table-striped mx-auto w-75">
                <thead class="thead-dark">
                <tr class="text-center thead-dark">
                    <th>Request Date</th>
                    <th>Issue</th>
                    <th>Subject</th>
                </tr>
                </thead>
                <tbody>
                {% for helpdeskRequest in helpdeskRequests %}
                    <tr class="text-center">
                        <td>{{ helpdeskRequest.issue_date }}</td>
                        <td>
                            <a href="{% url 'HelpDesk' helpdeskRequest.id %}">
                                {{ helpdeskRequest.subject }}</a>
                        </td>
                        <td> {{ helpdeskRequest.issue }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div id="no-requests" class="text-center col-12">
            <h1>You haven't made any requests yet</h1>
            <small>To make a new request click <a href="{% url 'HelpDesk' %}">here</a></small>
        </div>
    {% endif %}
{% endblock %}