{% extends "theme.html" %}
{% load staticfiles %}

<!-- Additional Stylesheets -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/HelpDesk.css' %}"/>
{% endblock %}

{% block title %}
    Raise Help Desk Request - Murdoch Dubai Career Portal
{% endblock %}


{% block image %}
<div id="container">
    <img src="{% static 'images/1.png' %}" alt="Home page image">
</div>
{% endblock %}
{% block content %}
    {% load comments %}
    <br><br>
    <div id="helpForm" class="col-12">
        <h2 class="text-center">Make a HelpDesk Request</h2>
        <hr>
        <br>
        <form method="POST">
            <div class="form-control-feedback">
                {% csrf_token %}
                <p><b>Subject:</b> {{ help_desk_form.subject }}</p>
                {% if user_type == 'admin' %}
                    <p><b>Posted by:</b> {{ thread.name_Request }}</p>
                {% endif %}
                <p><b>Please describe the issue or concern you are facing in detail:</b></p>
                {{ help_desk_form.issue }}

                {% if not thread %}
                    <br><br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger" name="submitbutton"> Submit</button>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>

    {% if thread %}
        <div id="commentSection" class="col-12">
            <br>
            {% get_comment_count for thread as comment_count %}
            <button type="button" class="btn btn-primary float-right">
                Comments <span class="badge badge-light">{{ comment_count }}</span>
            </button>
{#            <p> Number of Comments: {{ thread.text }}#}
{#                {% get_comment_count for thread as comment_count %}#}
{#                {% if comment_count != 0 %}#}
{#                    <span>{{ comment_count }} comments</span>#}
{#                {% endif %}#}
{#            </p>#}
            <br><br>

            {% get_comment_list for thread as comments_list %}
            {% for comment in comments_list %}
                {% if comment.user == user %}
                    <div class="card bg-light">
                        <h6 class="card-header">
                            <span class="text-primary">{{ comment.user }}</span>
                            <span class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ comment.submit_date }}</span>
                        </h6>
                        <div class="card-body">
                            {% if forloop.counter != comment_count %}
                            {% endif %}
                            <p class="card-text">{{ comment.comment }}</p>
                        </div>
                    </div>
                    <br>
                {% else %}
                    <div class="card bg-light">
                        <h6 class="card-header">
                            <span class="text-primary">{{ comment.user }}</span>
                            <span class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ comment.submit_date }}</span>
                        </h6>
                        <div class="card-body">
                            {% if forloop.counter != comment_count %}
                            {% endif %}
                            <p class="card-text">{{ comment.comment }}</p>
                        </div>
                    </div>
                    <br>

                {% endif %}
            {% endfor %}
            {% get_comment_form for thread as form %}

            <form method="post">
                {% csrf_token %}
                <br>
                <div>
                    <textarea id="{{ form.comment.id_for_label }}" name="{{ form.comment.html_name }}"
                              class="form-control" placeholder="Enter comment here..." required></textarea>
                </div>

                {% for field in form %}
                    {% if field.is_hidden %}
                        <div>{{ field }}</div>
                    {% endif %}
                {% endfor %}
                <input type="hidden" name="name" value="{{ request.user.get_full_name }}"/>
                <input type="hidden" name="email" value="{{ request.user.email }}"/>
                <input type="hidden" name="url" value="http://dummyurl.com"/>
                <input type="hidden" name="next" value="{{ request.path }}"/>
                <div class="text-center my-3"><br><br>
                    <button class="btn btn-primary" type="submit" name="submit" value="Post">
                        Post Comment
                    </button>
                </div>
            </form>

        </div>
    {% endif %}
{% endblock content %}