{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<!-- Additional Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register.css' %}"/>
{% endblock %}
{% block jQueryCall %}
    <script src="{% static 'js/AlumniRegistration.js' %}" type="text/javascript"></script>
    <script>
    $("#id_email").focusout(function (e) {
          e.preventDefault();
          var username = $(this).val();
          $.ajax({
                type: 'GET',
                url: "{% url 'check_alumni_username' %}",
                data: {"username": username},
                success: function (response) {
                      if(!response["valid"]) {
                            $("#usernameError").css('color', 'red').html("This username is already being used");
                        }
                      else {
                            $("#usernameError").css('color', '').html("");
                      }
                },
                error: function (response) {
                    console.log(response);
                }
          });
        });
    </script>
{% endblock %}

{% block title %}
    Alumni Account Signup - Murdoch Dubai Career Portal
{% endblock %}

{% block content %}
<script>
function removeOtherSkill() {
    var ul = document.getElementById("skills");
    var li = ul.getElementsByTagName("li");

    for(var i=0; i<li.length; i++) {
        if(li[i].innerText.indexOf("Others") > -1) {
          li[i].style.display = "none";
        }
    }
}

function searchSkill() {
    var input = document.getElementById('skillInput');
    var filter = input.value.toUpperCase();
    var ul = document.getElementById("skills");
    var li = ul.getElementsByTagName("li");

    for(var i=0; i<li.length; i++) {
        if(li[i].innerText.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }

        if(li[i].innerText.indexOf("Others") > -1) {
          li[i].style.display = "none";
        }
    }
}

function searchMajor() {
    var input = document.getElementById('majorInput');
    var filter = input.value.toUpperCase();
    var ul = document.getElementById("majors");
    var li = ul.getElementsByTagName("li");

    for(var i=0; i<li.length; i++) {
        if(li[i].innerText.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
    }
}
</script>

<body onload="removeOtherSkill()">

    <br>
        <div id="form"> 
            <h2 class="text-center">Alumni Registration</h2>
            <hr>
            <form id="alumniForm" method="POST" class="form-horizontal" action="alumni_registration" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ user_form.first_name|as_crispy_field }}</div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ user_form.last_name|as_crispy_field }}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12" id="firstNameError"></div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12" id="lastNameError"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ user_form.password1|as_crispy_field }}</div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ user_form.password2|as_crispy_field }}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12" id="password1Error"></div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12" id="password2Error"></div>
                </div>
                <div>{{ alumni_form.gender|as_crispy_field }}</div>
                <div>{{ alumni_form.date_of_birth|as_crispy_field }}</div>
                <div id="dobError"></div>
                <div>{{ user_form.email|as_crispy_field }}</div>
                <div id="personalEmailError"></div>
                <div id="usernameError"></div>
                <div>{{ alumni_form.student_id|as_crispy_field }}</div>

                {{ alumni_form.skills.label }}
                <div class="skills-container">
                    <input class="searchTerm form-control" type="text" id="skillInput" onkeyup="searchSkill()" placeholder="Search for skills...">
                    {{ alumni_form.skills }}
                </div><br>

                {{ alumni_form.majors.label }}
                <div class="skills-container">
                    <input class="searchTerm form-control" type="text" id="majorInput" onkeyup="searchMajor()" placeholder="Search for majors...">
                    {{ alumni_form.majors }}
                </div><br>

                <div>{{ alumni_form.dp|as_crispy_field }}</div>
                <div>{{ alumni_form.cv|as_crispy_field }}</div>
                <br>

                <div style="display: flex">
                    <div style="margin-right: 1%; margin-top: 0.25%">
                        <input type="checkbox" name="terms" required/>
                    </div>

                    <div>
                        <small>
                            * I hereby authorise release of my personal information including contact details and
                            resume to Murdoch University Dubai. I am aware this information will be made available to
                            companies and employers through the Murdoch Dubai Career Portal
                        </small>
                    </div>
                </div>
                <br>
                <div id="register" class="text-center">
                    <button class="btn btn-danger" type="submit">Register</button>
                </div>
            </form>
        </div><!-- End of row -->
    <br><br>
{% endblock %}