{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<!-- Additional Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register.css' %}"/>
{% endblock %}
{% block jQueryCall %}
        <script src="{% static 'js/AlumniRegistration.js' %}" type="text/javascript"></script>
        <script>
        $("#id_email").focusout(function (e) {
              e.preventDefault();
              var username = $(this).val();
              $.ajax({
                    type: 'GET',
                    url: "{% url 'check_username' %}",
                    data: {"username": username},
                    success: function (response) {
                          if(!response["valid"]) {
                                $("#usernameError").css('color', 'red').html("This username is already being used");
                            }
                          else {
                                $("#usernameError").css('color', '').html("");
                          }
                    },
                    error: function (response) {
                          console.log(response);
                    }
              });
            });
        </script>
{% endblock %}

{% block title %}
    Student Account Signup - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <br>
        <div id="form"> 
            <h2 class="text-center">Alumni Registration</h2>
            <hr>
            <form id="alumniForm" method="POST" class="form-horizontal" action="alumni_registration" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-6">{{ user_form.first_name|as_crispy_field }}</div>
                    <div class="form-group col-6">{{ user_form.last_name|as_crispy_field }}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6" id="firstNameError"></div>
                    <div class="form-group col-6" id="lastNameError"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">{{ user_form.password1|as_crispy_field }}</div>
                    <div class="form-group col-6">{{ user_form.password2|as_crispy_field }}</div>
                </div>
                <div>{{ alumni_form.gender|as_crispy_field }}</div>
                <div>{{ alumni_form.date_of_birth|as_crispy_field }}</div>
                <div>{{ user_form.email|as_crispy_field }}</div>
                <div id="personalEmailError"></div>
                <div id="usernameError"></div>
                <div>{{ alumni_form.student_id|as_crispy_field }}</div>
                <div>{{ alumni_form.skills|as_crispy_field }}</div>
                <div>{{ alumni_form.majors|as_crispy_field }}</div>
                <div>{{ alumni_form.dp|as_crispy_field }}</div>
                <div>{{ alumni_form.cv|as_crispy_field }}</div>
                <br>
                <label>
                    <input type="checkbox" name="terms" required/>
                </label>
                <label>*I have read and agree to the <a href="../terms" target="_blank">Terms and Conditions</a></label><br><br>

                <div id="register" class="text-center">
                    <button type="submit">Register</button>
                </div>
            </form>
        </div><!-- End of row -->
    <br><br>
{% endblock %}