{% extends "theme.html" %}
{% load staticfiles %}

<!-- Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Profile.css' %}"/>
{% endblock %}

{% block title %}
    View Profile - Murdoch Dubai Career Portal
{% endblock %}

{% block content %}
    <div id="profileBody">
        <h2 class="text-center">My Profile</h2>
        <div class="row py-2">
            <div class="icon col-md-6 text-md-right text-center">
                {% if obj.dp %}
                    <img src="{{ obj.dp.url }}" height="300.0em" width="300.0rem">
                {% else %}
                    <img src="{% static 'DefaultDP.jpg' %}" height="300.0rem" width="300.0rem">
                {% endif %}
            </div><!-- End of icon -->
            <div class="student-profile col-md-6 text-left py-2">
                <p><strong>Name:</strong> {{ user.first_name}} {{ user.last_name }}</p>
                <p><strong>Email Address:</strong> {{ user.email }}</p>
                <p><strong>Date of Birth:</strong> {{ obj.date_of_birth|date:"d M Y" }}</p>
                <p><strong>Gender:</strong> {{ obj.gender }}</p>
                {% if obj.student_id %}
                    <p><strong>Student ID:</strong> {{ obj.student_id }}</p>
                {% endif %}
                <p><strong>Skills</strong></p>
                {% for skill in obj.skills.all %}
                    <li>{{ skill }}</li>
                {% endfor %}
                <br>
                <p><strong>Majors</strong></p>
                {% for major in obj.majors.all %}
                    <li>{{ major }}</li>
                {% endfor %}
            <br>
                <p class="view"><strong> CV: </strong><a href="{{ obj.cv.url }}">{{ obj.cv }}</a></p><br>
            </div><!-- End of student-profile -->
        </div><!-- End of row -->
        <div id="edit-profile" class="text-center">
            <a class="text-decoration-none text-white" href="/alumni/edit_alumni_profile">
                <button type="submit" class="btn btn-primary">Edit Profile</button>
            </a>
        </div><!-- End of text-center -->
    </div>
{% endblock %}