{% extends "admin/base_site.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block messages %}{% endblock messages %}
{% block content %}
    <form action="admin_create_job" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{ companyForm.as_p }}
        {{ jobForm.as_p }}

        <input type="hidden" name="next" value="../admin">

        <button class="button2" type="Submit"><b>Submit</b></button>
        <button type="button"><a href="../../admin"> <b>Cancel</b></a></button>

    </form>

    <!-- this displays any errors during submission -->
    <div>
        {% for message in messages %}
            <h3> {{ message }} </h3>
        {% endfor %}
    </div>
    
{% endblock %}
</body>
</html>