{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | Murdoch Admin{% endblock %}

{% block extrastyle %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/AdminProfile.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/EditAdmin.css' %}"/>
    <style>
    * {
        font-family: 'Open Sans', sans-serif;
    }
    #header {
        background-color: #CC0000;
        color: #FFFFFF;
    }
    .submit-row input[type="submit"] {
        background-color: #CC0000;
    }
    #branding h1, #branding h1 a:link, #branding h1 a:visited  {
        color: #FFFFFF;
    }
    .module h2, .module caption, .inline-group h2 {
        background-color: #CC0000;
    }
    a:link, a:visited {
        color: #000000;
    }
    div.breadcrumbs {
        background: #1D1A1A;
    }
    #recent-actions-module {
        display: none;
    }
    </style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Murdoch Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}