{% extends "admin/base_site.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
</head>
<body>
{% block messages %}{% endblock messages %}
{% block content %}
    <div>
        {% for message in messages %}
            <h3> {{ message }} </h3>
        {% endfor %}
    </div>
    {% if hasAdminDetails %}
        <div id="view-admin-profile">
            <h2>Admin Profile</h2>
            <div id="admin-profile-body">
                <div id="admin-profile-img" class="col-1">
                    {% if admin.dp %}
                        <img src="{{ admin.dp.url }}" alt="profile picture">
                    {% else %}
                        <img src="{% static 'DefaultDP.jpg' %}" alt="default profile picture">
                    {% endif %}
                </div>
                <div id="admin-profile-fields" class="col-2">
                    <p><span class="field-heading">First Name:</span> {{ user.first_name }}</p>
                    <p><span class="field-heading">Last Name:</span> {{ user.last_name }}</p>
                    {% if user.email %}
                        <p><span class="field-heading">Email Address:</span> {{ user.email }}</p>
                    {% else %}
                        <p><span class="field-heading">Email Address:</span> N/A</p>
                    {% endif %}
                    <p><span class="field-heading">Gender:</span> {{ admin.gender }}</p>
                </div>
            </div>
            <div id="admin-profile-bottom">
                <button><a href="{% url 'edit_admin_profile' %}">Edit Profile</a></button>
                <button type="button"><a href="../../admin">Go back home</a></button>
            </div>
        </div>
    {% else %}
        <h2>Looks like you have not filled in some details yet. Fill in the form below to be able to view your
            profile.</h2>

        <form method="post" enctype="multipart/form-data" action="{% url 'view_admin_profile' %}">
            {% csrf_token %}
            {{ admin_form.as_p }}
            <button type="submit">Add Details</button>
            <button type="button"><a href="../../admin">Cancel</a></button>
        </form>
    {% endif %}
{% endblock %}
</body>
</html>

