{% autoescape off %}
Dear {{ first_name }},<br><br>
Thanks for creating a profile on Murdoch University Dubai's Career Portal. Your account creation request has been {{ status }}.<br><br>
You are now an approved employer and we are glad to have you on board. Please login to the portal using your employer email id at the link: https://murdochdubaicareerportal.com/ <br><br>
You will be able to post the internship and job opportunities directly, which will be visible to our students and alumni. You will also be able to browse student profiles and view/download student CVs.<br><br>
We recommend the format below when posting jobs or internships: <br><br>
Company/Organization<br>
Website/Online Presence<br>
Contact Name<br>
Email<br>
Internship/Job Role(s)<br>
Duration: (days or weeks or months)<br>
Hours per week<br>
Location of work (office-based or remote or a combination)<br>
Remuneration or Benefits<br>
Soft Skill Requirements<br>
Technical Requirements<br>
Application Process or Link<br>
Number of positions available<br>
Closing date for applications<br><br>
Kind regards,<br><br>
The Murdoch University Dubai Team<br>
{% endautoescape %}