{% autoescape off %}
If you have registered for a Murdoch Career Portal Account with the username '{{ user.get_username }}',
using this email address, click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}


If you did not request a password reset, this email can be ignored.

Regards,
Murdoch University Job Portal

---
If you’re having trouble clicking the "Reset Password" button, copy and paste the URL into your web browser instead.
{% endautoescape %}
