{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    Account Rejected - Murdoch Dubai Career Portal
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/PendingApproval.css' %}"/>
{% endblock %}

{% block content %}
    <div id="pendingRequestBody" class="col-12 text-center">
        <h1>Account - Approval Rejected</h1>
        <br><br>
        <div id="pendingBody">
            <h2>Your account creation request has been rejected</h2>
            <small>If you have any queries regarding why the account approval was rejected contact <a href="mailto:careerportal@murdoch.edu.au">careerportal@murdoch.edu.au</a></small>
        </div>
    </div>
{% endblock %}