{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    Account Rejected
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/PendingApproval.css' %}"/>
{% endblock %}

{% block content %}
    <div id="pendingRequestBody" class="col-12 text-center my-3">
        <h2>Account - Approval Rejected</h2>
        <br><br>
        <div id="pendingBody">
            <img src="{% static 'images/rejected.png' %}" alt="pending_approval_pic">
            <br><br>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small>Your account creation request has been rejected</small>
        </div>
    </div>
{% endblock %}