{#<h2>Backup database</h2>#}
{#<form method="post" action=".">#}
{#  {% csrf_token %}#}
{#  {{ database_backup_form.as_p }}#}
{#  <div class="submit-row">#}
{#  <input type="submit" class="button" name="savebackup" value="Download database backup">#}
{#  </div>#}
{#</form>#}
{#<br/><hr/>#}
<script>
    $(function () {
        $('#backup-button').submit(function (e) {
            e.preventDefault();
            alert('Submitted');
        });
    });
</script>

<h2>Backup Database</h2>
<form method="post" action="{% url 'backup_database' %}">
    {% csrf_token %}
    {{ media_backup_form.as_p }}
    <div class="submit-row">
        <input type="submit" id="backup-button" class="button" name="backup_database" value="Create database backup">
    </div>
</form>

<h2>Backup media</h2>
<form method="post" action=".">
    {% csrf_token %}
    {{ media_backup_form.as_p }}
    <div class="submit-row">
        <input type="submit" class="button" name="mediabackup" value="Download media backup">
    </div>
</form>

{#<h2>Download Source Code</h2>#}
{#<form method="post" action=".">#}
{#    {% csrf_token %}#}
{#    {{ media_backup_form.as_p }}#}
{#    <div class="submit-row">#}
{#        <input type="submit" class="button" name="codebackup" value="Download Source Code">#}
{#    </div>#}
{#</form>#}
