{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<!-- Additional Stylesheets -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Profile.css' %}"/>
    <script src="{% static 'js/EditProfile.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    Edit Profile - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>There are errors</p>
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div id="editProfileBody">
        <h1 class="text-center">Edit Profile</h1>
        <div class="col-12">
            <form method="post" enctype="multipart/form-data" action="edit_employer_profile" onsubmit="return validatePhone()">{% csrf_token %}
                <div>{{ employer_form.company_name|as_crispy_field }}</div>
                <div>{{ employer_form.company_description|as_crispy_field }}</div>
                <div>{{ employer_form.company_website|as_crispy_field }}</div>
                <small>Website should contain http or https</small>
                <br><br>
                <div>{{ employer_form.contact_name|as_crispy_field }}</div>
                <div>{{ employer_form.phone_number|as_crispy_field }}</div>
                <small>Phone number should have country code appended before it</small>
                <br><br>
                <div>{{ employer_form.logo|as_crispy_field }}</div>
                <div>{{ employer_form.trade_license|as_crispy_field }}</div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Save Changes
                    </button>

                    <a class="text-decoration-none text-white" href="view_employer_profile">
                        <button class="btn btn-secondary" type="button">Cancel</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}