{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<!-- Additional Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register.css' %}"/>
{% endblock %}
{% block jQueryCall %}
        <script src="{% static 'js/EmployerRegistration.js' %}" type="text/javascript"></script>
        <script>
        $("#id_email").focusout(function (e) {
              e.preventDefault();
              var username = $(this).val();
              $.ajax({
                    type: 'GET',
                    url: "{% url 'check_student_username' %}",
                    data: {"username": username},
                    success: function (response) {
                          if(!response["valid"]) {
                                $("#usernameError").css('color', 'red').html("This username is already being used");
                            }
                          else {
                                $("#usernameError").css('color', '').html("");
                          }
                    },
                    error: function (response) {
                          console.log(response);
                    }
              });
            });
        </script>
{% endblock %}

{% block title %}
    Employer Account Signup - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
<div id="form" class="row justify-content-center align-items-center">
    <div class="col-12">
        <h2 class="text-center">Employer Registration</h2>
        <hr>
        <form id="companyForm" action="employer_registration" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ user_form.email|as_crispy_field }}
            <div id="emailError"></div>
            <div id="usernameError"></div>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <p>{{ user_form.password1|as_crispy_field }}</p>
                    <small>The password must contain alphanumeric characters</small>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <p>{{ user_form.password2|as_crispy_field }}</p>
                    <small>Both passwords should match</small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12"  id="password1Error"></div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12"  id="password2Error"></div>
            </div>
            <div>{{ employer_form.company_name|as_crispy_field }}</div>
            <div>{{ employer_form.company_description|as_crispy_field }}</div>
            <div>{{ employer_form.company_website|as_crispy_field }}</div>
            <small>Website should contain http or https</small>
            <br><br>
            <div>{{ employer_form.contact_name|as_crispy_field }}</div>
            <div>{{ employer_form.phone_number|as_crispy_field }}</div>
            <small>Phone number should have country code appended before it</small>
            <br><br>
            <div>{{ employer_form.logo|as_crispy_field }}</div>
            <div>{{ employer_form.trade_license|as_crispy_field }}</div>

            <div id="register" class="text-center">
                <button class="btn btn-danger" type="submit">Register</button>
            </div><!-- End of register -->
        </form>
    </div><!-- End of col -->
</div><!-- End of row -->
{% endblock %}