{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<!-- Additional Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register.css' %}"/>
    <script src="{% static 'js/EmployerRegistration.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    Employer Account Signup - Murdoch Dubai Job Portal
{% endblock %}
{% block content %}
<div id="form" class="row justify-content-center align-items-center">
    <div class="col-12">
        <h2 class="text-center">Employer Registration</h2>
        <hr>
        <form action="employer_registration" method="post" onsubmit="return validatePhone()">{% csrf_token %}
            {{ user_form.email|as_crispy_field }}
            <div id="emailError"></div>
            {{ user_form.password1|as_crispy_field }}
            <div id="password1Error"></div>
            {{ user_form.password2|as_crispy_field }}
            <div id="password2Error"></div>
            {{ employer_form.company_name|as_crispy_field }}
            <div id="companyNameError"></div>
            {{ employer_form.company_description|as_crispy_field }}
            {{ employer_form.phone_number|as_crispy_field }}
            <div id="phoneNumberError"></div>
            <input type="checkbox" name="terms" required>
            <label>*I have read and agree to the <a href="../terms" target="_blank">Terms and
                Conditions</a></label><br><br>

            <div id="register" class="text-center">
                <button class="btn" type="submit">Register</button>
            </div><!-- End of register -->
        </form>
    </div><!-- End of col -->
</div><!-- End of row -->
{% block jQueryCall %}{% endblock %}
{% endblock %}