{% extends "theme.html" %}
{% load staticfiles %}

<!-- Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register.css' %}"/>
{% endblock %}

{% block title %}
    View Profile - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <br><br>
    <div class="overall-page">
        <div class="inside-container">
            <div class="overall-page">
                <div class="icon">
                    {% if obj.logo %}
                        <img src="{{ obj.logo.url }}" height="90.0em" width="90.0em">
                    {% else %}
                        <img src="{% static 'DefaultDP.jpg' %}" height="90.0em" width="90.0em">
                    {% endif %}
                </div>
                <div style="align:center; padding-top: 20px;"><h2>My Profile</h2></div>
            </div>
            <div class="inside-container2">
                <p class="view"><strong>Company Name:</strong> {{ obj.company_name }}</p>
                <p class="view"><strong>Company Description:</strong> {{ obj.company_description }}</p>
                <p class="view"><strong>Contact Number:</strong> {{ obj.phone_number }}</p>

                <div style="text-align:center">
                    <button type="submit" class="mybutton"><a href="/employer/edit_employer_profile">Edit Profile</a></button>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}