{% extends "theme.html" %}
{% load staticfiles %}

<!-- Additional Stylesheets -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/AboutUs.css' %}"/>
{% endblock %}

{% block title %}
    Frequently Asked Questions - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    {% csrf_token %}

    <h1><u>FAQ</u></h1>
    <div class="container">
        <h2>Frequently Asked Questions</h2>
        <h3>How do I place an ad?</h3>
        <p>It's very easy to place an ad: click on the button "Post free Ads" above right.</p>

        <h3>What does it cost to advertise?</h3>
        <p>The publication is 100% free throughout the website.</p>

        <h3>If I post an ad, will I also get more spam e-mails?</h3>
        <p>Absolutely not because your email address is not visible on the website.</p>

        <h3>How long will my ad remain on the website?</h3>
        <p>In general, an ad is automatically deactivated from the website after 3 months. You will receive an email a
            week
            before D-Day and another on the day of deactivation. You have the ability to put them online in the
            following
            month
            by logging into your account on the site. After this delay, your ad will be automatically removed
            permanently
            from
            the website.</p>

        <h3>I sold my item. How do I delete my ad?</h3>
        <p>Once your product is sold or leased, log in to your account to remove your ad.</p>
    </div>
{% endblock %}