{% extends "theme.html" %}
{% load staticfiles %}

<!-- Additional Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" rel="text/css" href="{% static 'css/Login.css' %}"/>
{% endblock %}

{% block title %}
    Login - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <body>
        <div class="container">
            <div class="row">
                <div id="formbox" class="col-md-12 col-sm-12 col-xs-12">
                    <form action="login" method="post">{% csrf_token %}
                        <div id="form" class="form-group">
                            <h2 class="text-center">Sign In</h2>
                            <hr>
                            <label for="email">Email Address</label>
                            <input id="Email" class="form-control form-control-sm" type="Email" name="username" required/>
                            <label for="email">Password</label>
                            <input id="password" class="form-control form-control-sm" type="password" name="password"/>
                            <br>
                            <div class="text-center">
                                <button class="btn" type="submit">Login</button>
                            </div>
                            <hr>
                            <a href="/accounts/password_reset/"> Forgot password?</a>
                        </div><!-- End of for-group -->
                    </form>
                </div><!-- End of col -->
            </div><!-- End of row -->
        </div><!-- End of container -->
        <!-- /.login-box-body -->
        <script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' /* optional */
                });
            });
        </script>
        <br>
{% endblock %}