{% extends "theme.html" %}
{% load staticfiles %}

<!-- Additional Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register.css' %}"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({dateFormat: 'yy-mm-dd'});
        });
    </script>
{% endblock %}

{% block title %}
    Student Account Signup - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <script language="JavaScript">
        function disable_fields(status) {
            if (status) {
                document.getElementById('id_expected_graduation_date').disabled = true
                document.getElementById('id_personal_email').disabled = true
                document.getElementById('id_personal_email').required = false
                document.getElementById('id_expected_graduation_date').required = false
            } else {
                document.getElementById('id_expected_graduation_date').disabled = false
                document.getElementById('id_personal_email').disabled = false
                document.getElementById('id_personal_email').required = true
                document.getElementById('id_expected_graduation_date').required = true
            }
        }

    </script>


    <body onload="disable_fields(document.getElementById('id_alumni_status').checked)">

    <br>
        <div class="inside-container2" style="width: 60%">
            <h2 align="center">Student Registration</h2>
                <hr>
                <form method="post" action="student_registration" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if messages %}
                        {% for message in messages %}
                            {% ifequal message.tags 'student_account_activated success' %}
                                <p>{{ message }}</p>
                            {% endifequal %}
                        {% endfor %}
                    {% endif %}

                    {% for field in user_form %}
                        <br>
                        <div class="Col1">{{ field.label }}:</div>
                        <div class="Col2">{{ field }}</div>
                    {% endfor %}

                        <br>

                        {% for field in student_form %}
                        {% if field.label == "Select if you are a Murdoch University Alumni" %}
                            <div class="Col1">{{ field.label }}: {{ field }}<br><br><br></div>
                        {% else %}
                            <div class="Col1">{{ field.label }}:</div>
                            <div class="Col2">{{ field }}<br><br>{{ field.help_text }}</div>
                        {% endif %}
                    {% endfor %}

                    <input type="checkbox" name="terms" required>
                    <label>*I have read and agree to the <a href="../terms" target="_blank">Terms and Conditions</a></label><br><br>

                    <div style="text-align:center;">
                        <input type="submit"
                               style=" color: white; background-color:rgb(204,0,0); width: 140px; height:30px; margin: 0 auto;"/>
                    </div>
                </form>
            </div>
    </body>
    <br><br>
{% endblock %}