{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Base.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/Favicon.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description"
          content="Welcome to Career Portal : 100% Job Board. Find a job near you. Simple, fast and efficient">
    <meta name="keywords" content="Career Portal, United Arab Emirates, jobs ads, jobs, ads, script, app, premium jobs">
</head>

    <body>
        <div class="container-fluid">
            <!--This is the beginning of the header!-->
            <header>
                <nav id="navigationBar">
                    <div id="navTop" class="navbar-nav mr-auto">
                        <div class="navElements navbar-expand-md">
                            <a class="navbar-brand" href="/">
                                <div id="murdochLogo" class="float-left">
                                    <img src="{% static 'images/murdochlogo.png' %}" alt="Murdoch University Logo">
                                </div><!-- End of navbar-brand -->
                            </a>
                            <div id="userElements" class="float-right">
                                {% if not user.is_authenticated %}
                                    <div class="dropdown">
                                        <button id="signup" class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                            Sign Up
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'student_registration' %}">I'm a Student</a>
                                            <a class="dropdown-item" href="{% url 'employer_register' %}">I'm an Employer</a>
                                        </div><!-- End of dropdown-menu -->
                                    </div><!-- End of dropdown -->
                                    <a href="{% url 'log_in' %}">
                                        <button id="login" class="btn">Login</button>
                                    </a>
                                {% else %}
                                    <div class="dropdown">
                                        <button type="button" id="userIcon" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                                              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                                            </svg>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% if user_type == 'student' %}
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'view_student_profile' %}">View Profile</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                                </li>
                                            {% elif user_type == 'employer' %}
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'view_employer_profile' %}">View Profile</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                                </li>
                                            {% elif user_type == 'admin' %}
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'view_admin_profile' %}">View Profile</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'admin:index' %}">Dashboard</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <button class="navbar-toggler visible-sm visible-xs text-white" type="button" data-toggle="collapse" data-target="#navDrop">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    </svg>
                                </button>
                            </div><!-- End of userElements -->
                        </div><!-- End of navElements -->
                    </div><!-- End of navTop -->
                    <div id="navBottom" class="nav navbar-nav navbar-expand-md mr-auto">
                        <div id="navDrop" class="navElements collapse navbar-collapse">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <button class="btn">Home</button>
                                    </a>
                                </li>
                                {% if user_type == 'student' %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'view_jobs' %}">
                                            <button class="btn">Browse Jobs</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'my_applications' %}">My Applications</a>
                                    </li>
                                {% elif user_type == 'employer' %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'view_students' %}">
                                            <button class="btn">Browse Students</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'view_jobs' %}">
                                            <button class="btn">My Jobs</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'create_job' %}">
                                            <button class="btn">Post a Job</button>
                                        </a>
                                    </li>
                                {% elif user_type == 'admin' %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'view_jobs' %}">
                                            <button class="btn">Browse Jobs</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'view_students' %}">
                                            <button class="btn">Browse Students</button>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div><!-- End of navBottom -->
                </nav>
            </header>
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }}"> {{ message }} </p>
                {% endfor %}
            {% endif %}
            {% block content %}

            {% endblock %}
            <!--This is the beginning of the footer!-->
            <footer class="page-footer">
                <div class="row">
                    <div class="aboutus col-md-6 col-sm-6 col-xs-12">
                        <ul>
                            <span class="text-center">
                                <h4>About Us</h4>
                                <li><a href="{% url 'faq' %}"> FAQ</a></li>
                                <li><a href="{% url 'anti_scam' %}"> Anti-Scam</a></li>
                                <li><a href="{% url 'terms' %}"> Terms</a></li>
                                <li><a href="{% url 'privacy' %}"> Privacy</a></li>
                                <li><a href="{% url 'sitemap' %}" target="_blank">Sitemap</a></li>
                            </span>
                        </ul>
                    </div><!-- End of aboutus -->
                    <hr class="footer-rule d-block d-sm-none">
                    <div class="contactus col-md-6 col-sm-6 col-xs-12 text-center">
                        <ul>
                            <h4>Contact Us</h4>
                            <li>Dubai International Academic City</li>
                            <li>Block 10, Fourth floor</li>
                            <li>P.O. Box 345005</li>
                            <li>Dubai, United Arab Emirates</li>
                        </ul>
                    </div><!-- End of contactus -->
                </div><!-- End of row -->
                <br><hr class="footer-rule"><br>
                <div id="extra-info" class="col-12 text-center">
                    <p>Murdoch University CRICOS code: 00125J</p>
                    <p>TEQSA number: PRV12163<p>
                    <p>Murdoch University has partnered with Navitas Middle East FZ-LLC, for Navitas to provide administrative assistance and support to the University in respect of its Dubai Campus.</p>
                </div><!-- End of extra-info -->
                <br><hr class="footer-rule"><br>
                <div id ="social-section" class="followus col-12 text-center">
                    <a class="image-thumbnail" href="https://twitter.com/MurdochUniDubai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                        <img src="{% static 'images/twitterIcon.png' %}" alt="Twitter Icon">
                    </a>
                    <a class="image-thumbnail" href="https://www.facebook.com/murdochdubai/">
                        <img src="{% static 'images/facebookIcon.png' %}" alt="Facebook Icon">
                    </a>
                    <a class="image-thumbnail" href="https://www.linkedin.com/school/murdoch-university-dxb/">
                        <img src="{% static 'images/youtubeIcon.png' %}" alt="LinkedIn Icon">
                    </a>
                    <a class="image-thumbnail" href="https://www.instagram.com/murdochdubai/?hl=en">
                        <img src="{% static 'images/instagramIcon.png' %}" alt="Instagram Icon">
                    </a>
                </div><!-- End of followus -->
            </footer>
        </div><!-- End of container-fluid -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>