{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}{% endblock %}
    </title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/Base.css' %}"/>
        <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/Favicon.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to Career Portal : 100% Job Board. Find a job near you. Simple, fast and efficient">
    <meta name="keywords" content="Career Portal, United Arab Emirates, jobs ads, jobs, ads, script, app, premium jobs">
</head>

    <body>
        <div class="container-fluid">
            <!--This is the beginning of the header!-->
            <header>
                <nav id="navigationBar">
                    <div id="navTop" class="navbar-nav">
                        <div class="navElements navbar-expand-md">
                            <a class="navbar-brand" href="/">
                                <span id="murdochLogo" class="float-left">
                                    <img src="{% static 'images/murdochlogo.png' %}" alt="Murdoch University Logo">
                                </span><!-- End of navbar-brand -->
                            </a>
                            <div id="userElements" class="float-right d-none d-sm-block">
                                {% if not user.is_authenticated %}
                                    <a href="{% url 'sign_up' %}">
                                        <button id="signup" class="btn" type="button">Sign Up</button>
                                    </a>
                                    <a href="{% url 'log_in' %}">
                                        <button id="login" class="btn">Login</button>
                                    </a>
                                {% else %}
                                    <div class="dropdown">
                                        <button type="button" id="userIcon" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                                              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                                            </svg>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% if user_type == 'student' %}
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'view_student_profile' %}">My Profile</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                                </li>
                                            {% elif user_type == 'employer' %}
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'view_employer_profile' %}">My Profile</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                                </li>
                                            {% elif user_type == 'alumni' %}
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'view_alumni_profile' %}">My Profile</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                                </li>
                                            {% elif user_type == 'admin' %}
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'view_admin_profile' %}">My Profile</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'admin:index' %}">Dashboard</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <button class="navbar-toggler visible-sm visible-xs text-white" type="button" data-toggle="collapse" data-target="#navDrop">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    </svg>
                                </button>
                            </div><!-- End of userElements -->
                        </div><!-- End of navElements -->
                    </div><!-- End of navTop -->
                    <div id="navBottom" class="nav navbar-nav navbar-expand-md mr-auto">
                        <div id="navDrop" class="navElements collapse navbar-collapse">
                            <div class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">
                                        <button class="btn">Home</button>
                                    </a>
                                </li>
                                {% if user_type == 'student' or user_type == 'alumni' %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'view_jobs' %}">
                                            <button class="btn">Browse Jobs</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'my_applications' %}">
                                            <button class="btn">My Applications</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'HelpDesk' %}">
                                            <button class="btn">Help Desk</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'MyHelpDeskRequests' %}">
                                            <button class="btn">My HelpDesk Requests</button>
                                        </a>
                                    </li>
                                {% elif user_type == 'employer' %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'view_students' %}">
                                            <button class="btn">Browse Students</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'view_jobs' %}">
                                            <button class="btn">My Jobs</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'create_job' %}">
                                            <button class="btn">Post a Job</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'HelpDesk' %}">
                                            <button class="btn">Help Desk</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'MyHelpDeskRequests' %}">
                                            <button class="btn">My HelpDesk Requests</button>
                                        </a>
                                    </li>
                                {% elif user_type == 'admin' %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'create_job' %}">
                                            <button class="btn">Post a Job</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'view_jobs' %}">
                                            <button class="btn">Browse Jobs</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'view_students' %}">
                                            <button class="btn">Browse Students</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'view_alumni' %}">
                                            <button class="btn">Browse Alumni</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'statistics' %}">
                                            <button class="btn">Statistics</button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'HelpDeskRequests' %}">
                                            <button class="btn">Help Desk</button>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div><!-- End of navBottom -->
                </nav>
            </header>
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }}"> {{ message }} </p>
                {% endfor %}
            {% endif %}
            {% block image %}{% endblock %}
            <main>
                {% block content %}{% endblock %}
            </main>
            <!--This is the beginning of the footer!-->
            <footer class="page-footer">
                <div class="row">
                    <div class="aboutus col-md-6 col-sm-6 col-xs-12">
                        <ul>
                            <span class="text-center">
                                <h4>About Us</h4>
                                <li><a href="{% url 'faq' %}"> FAQ</a></li>
                                <li><a href="{% url 'anti_scam' %}"> Anti-Scam</a></li>
                                <li><a href="{% url 'terms' %}"> Terms</a></li>
                                <li><a href="{% url 'privacy' %}"> Privacy</a></li>
                                <li><a href="{% url 'sitemap' %}" target="_blank">Sitemap</a></li>
                            </span>
                        </ul>
                    </div><!-- End of aboutus -->
                    <hr class="footer-rule d-block d-sm-none">
                    <div class="contactus col-md-6 col-sm-6 col-xs-12 text-center">
                        <ul>
                            <h4>Contact Us</h4>
                            <li>Level 1, Block 18</li>
                            <li>Dubai Knowledge Park</li>
                            <li>Dubai, United Arab Emirates</li>
                            <li><a href="tel:+971 4 4355700">T: +971 4 4355700</a></li>
                        </ul>
                    </div><!-- End of contactus -->
                </div><!-- End of row -->
                <br><hr class="footer-rule"><br>
                <div id="extra-info" class="col-12 text-center">
                    <p>Murdoch University CRICOS code: 00125J</p>
                    <p>TEQSA number: PRV12163<p>
                    <p>Murdoch University has partnered with Navitas Middle East FZ-LLC, for Navitas to provide administrative assistance and support to the University in respect of its Dubai Campus.</p>
                </div><!-- End of extra-info -->
                <br><hr class="footer-rule"><br>
                <div id ="social-section" class="followus col-12 text-center">
                    <a class="image-thumbnail" href="https://twitter.com/MurdochUniDubai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                    </a>
                    <a class="image-thumbnail" href="https://www.facebook.com/murdochdubai/">
                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                    </a>
                    <a class="image-thumbnail" href="https://www.youtube.com/user/MurdochDubai">
                        <i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i>
                    </a>
                    <a class="image-thumbnail" href="https://www.instagram.com/murdochdubai/?hl=en">
                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                    </a>
                </div><!-- End of followus -->
            </footer>
        </div><!-- End of container-fluid -->
        {% block jQueryCall %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        {% endblock %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'js/Base.js' %}" type="text/javascript"></script>
    </body>
</html>