* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /*border: 1px solid #f00 !important;*/
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: -moz-hidden-unscrollable;
}

body .container-fluid {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.dark-mode {
    background-color: #000000;
    color: #FFFFFF;
}

header {
    position: relative;
    width: 100%;
}

#banner {
    background-color: #1D1A1A;
    font-size: 0.8rem;
}

#banner a {
     text-decoration: underline;
}

#navigationBar #navTop {
    background-color: #E12744;
}

#navTop #murdochLogo img {
    width: 170px;
    height: 60px;
}

/*#userElements {
    margin: 5px 20px;
}*/

#userElements #signup, #login {
    color: #FFF;
    background-color: #E12744;
    border: 2px solid #FFF;
    border-radius: 12px;
}

#userElements #userIcon {
    color: #FFF;
}

#userElements svg {
    width: 30px;
    height: 30px;
}

.dropdown {
    display: inline-block;
}

a.dropdown-item {
    color: #D21F1F;
}

#navigationBar #navBottom {
    background-color: #1D1A1A;
}

#navigationBar #navBottom button {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
}

#navigationBar #navBottom button:hover {
    color: #E12744;
    background-color: #FFF;
}

#navigationBar #navBottom .active {
    /*color: #E12744/
    /*background-color: #FFF;*/
    border-bottom: 3px solid #E12744
}

main {
    margin: 5% 0;
}

#mobileButtons {
    margin: auto;
}

#search_item, .searchButton {
    height: 6vh;
}

#jobDetBody {
    width: 90%;
    margin: auto;
    text-align: center;
}

.jobDetCard {
    display: table-cell;
}

.jobDetCard h5 {
    font-size: 1.2rem;
}

.jobDetCard li {
    list-style: circle inside;
}

#jobDetBody .fa-briefcase, #jobDetBody .fa-graduation-cap {
    color: #E12744;
}

#body-image {
    position: relative;
}

#body-image .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.job-cards-index .card {
    padding: 0;
}

div.col-md-8.col-sm-8.col-xs-12, div.col-md-4.col-sm-4.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.skills-container {
    border:1px solid #ccc;
    width:100%;
    height: 200px;
    overflow-y: scroll;
    padding-top: 1%;
    border-radius: 8px;
    margin-top: 1%;
}

.wrap {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.input-group .searchTerm {
    width: 100%;
    border: 2px solid #E12744
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
}

.input-group .searchButton {
    border: 1px solid #E12744;
    background: #E12744
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 9px;
    padding-right: 10px;
    padding-left: 8px;
}

footer{
    clear: both;
    background-color: #1D1A1A;
    color: white;
    font-size: 0.85em;
    height:auto;
    padding-top: 1%;
    width: 100%;
}

footer .row hr {
    color: white;
}

footer .footer-rule {
    background-color: #FFFFFF;
    width: 70%;
}

#extra-info p {
    color: white;
    font-size: 0.9em;
}

footer ul{
    list-style-type:none;
}

li>a{
    color: white;
    text-decoration: none;
}

footer .row {
    margin-left: 1vw;
    margin-right: 1vw;
}

footer h3 {
    text-transform: uppercase;
}

footer #social-section {
    font-size: 0;
}

.fa-twitter {
    color: #00ACED;
}

.fa-facebook {
    color: #355DA8;
}

.fa-youtube-play {
    color: #FF0000;
}

.fa-instagram {
    color: #DD2A7B;
}

/******** Mobile Devices ********/
@media (max-width: 767px) {
    #navigationBar .navElements {
        margin: 3px 20px;
    }
    #userElements #signup, #login {
        font-size: 3vw;
        padding: 0 1px;
    }
    #navDrop li {
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid white;
    }
    #body-image img {
        height: 40vh;
        width: 90vw;
    }
    footer #social-section img {
        width: 20vw;
        height: auto;
    }
}

/******* Custom Media Settings *******/
@media(min-width: 1300px) {
    .special-break {
        display: none;
    }
}

/******** Tablet Devices ********/
@media (min-width: 768px) and (max-width: 991px) {
    #navigationBar .navElements {
        margin: 6px 40px;
    }
    #userElements #signup, #login {
        margin: 0 3px;
    }
    #navigationBar #navBottom button {
        font-size: 1.5vw;
        padding: 0.3vw;
    }
    #body-image img {
        width: 100%;
        height: 30vh;
    }
    #body-image {
        position: relative;
        height: 100%;
    }
    footer #social-section img {
        width: 6vw;
        height: auto;
    }
}

/******** Desktop Devices ********/
@media (min-width: 992px) {
    #navigationBar .navElements {
        margin: 7px 50px;
    }
    #userElements #signup, #login {
        margin: 0 3px;
    }
    #navigationBar #navBottom button {
        font-size: 0.8vw;
        padding: 0.05vw 0.7vw;
    }
    #body-image img {
        width: 100%;
        height: auto;
    }
    #body-image {
        position: relative;
    }
    footer #social-section img {
        width: 6vw;
        height: auto;
    }
}
