#helpdeskRequestBody {
    margin: 5% 0;
}

#helpdeskRequestBody hr {
    background-color: #000000;
    width: 40%;
}

#no-requests {
    margin: 10% 0;
}

#helpForm hr{
    width: 50%;
    background-color: #000000;
}

#commentSection hr {
    width: 60%;
    background-color: #000000;
}