#container {
    position: relative;
}

#container img {
    height: auto;
    width: 100%;
}

#helpdeskRequestBody {
    margin: 4% 0;
}

#helpdeskRequestBody h2 {
    font-size: 1.6rem;
}

#helpdeskRequestBody hr {
    background-color: #000000;
    width: 40%;
}

#no-requests {
    margin: 10% 0;
}

#helpForm hr{
    width: 50%;
    background-color: #000000;
}

#commentSection hr {
    width: 60%;
    background-color: #000000;
}