.table {
  font-family: Arial;
  border-collapse: collapse;
  width: 70%;
    margin-bottom: 2%;
}

.text-center th , .text-center td{
  border: 1px solid #ddd;
  padding: 8px;
}
.text-center:hover {background-color: #ddd;}

.text-center th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(204,0,0);
  color: white;
}

.th {
text-align: left;
}

.sidebar{
    margin-left: 1em;
    margin-top:0em;
    width: 17em;
    background-color: #E8E8E8;
    padding-left: 1.5em;
    text-align: left;
    border: 0.05em solid grey;
}

input[type=text],select{
  padding: 12px 12px;
  margin-right: 12em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sidebar input[type=text],select{
  width: 41%;
}