{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Statistics.css' %}"/>
{% endblock %}

{% block title %}
    Generate Statistics - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <div id="statBody" class="col-12">
        <form method="POST">{% csrf_token %}
            <h2 class="text-center">Generate Statistics</h2>
            <hr>
            <br>
            <div style="margin-left: 20%; margin-right: 20%">
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ form.start_date|as_crispy_field }}</div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ form.end_date|as_crispy_field }}</div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="Submit">Submit</button>
            </div>
            <br/>
        </form>
    </div>
{% endblock %}