{% extends "theme.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Statistics.css' %}"/>
{% endblock %}

{% block title %}
    Generate Statistics - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <div id="statBody" class="col-12">
        <form method="POST">{% csrf_token %}
            <h2 class="text-center">Generate Statistics</h2>
            <hr>
            <br>
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="Submit">Submit</button>
            </div>
            <br/>
        </form>
    </div>
{% endblock %}