{% extends "theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Statistics.css' %}"/>
{% endblock %}

{% block title %}
    Generate Statistics - Murdoch Dubai Career Portal
{% endblock %}

{% block content %}
<script>
    function date_validate() {
        document.getElementById("end_date").max = new Date().toISOString().split("T")[0];
        document.getElementById("start_date").max = new Date().toISOString().split("T")[0];
    }
</script>

<body onload="date_validate()">
    <div id="statBody" class="col-12">
        <form method="POST">{% csrf_token %}
            {% if form.industry and form.job_type and form.location %}
                <h2 class="text-center">Generate Job Statistics</h2>
            {% elif form.skill and form.major %}
                <h2 class="text-center">Generate Student & Alumni Statistics</h2>
            {% else %}
                <h2 class="text-center">Generate Statistics</h2>
            {% endif %}
            <hr>
            <br>
            <div style="margin-left: 20%; margin-right: 20%">
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ form.start_date|as_crispy_field }}</div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">{{ form.end_date|as_crispy_field }}</div>
                </div>
                {% if form.industry and form.job_type and form.location %}
                    {{ form.industry.label }}
                    <div class="skills-container">{{ form.industry }}</div><br>
                    <div>{{ form.job_type|as_crispy_field }}</div>
                    <div>{{ form.location|as_crispy_field }}</div>
                {% endif %}

                {% if form.skill and form.major %}
                    {{ form.major.label }}
                    <div class="skills-container">{{ form.major }}</div><br>
                    {{ form.skill.label }}
                    <div class="skills-container">{{ form.skill }}</div><br>
                {% endif %}
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="Submit">Submit</button>
            </div>
            <br/>
        </form>
    </div>
{% endblock %}