{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    View Pending Jobs
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js" integrity="sha256-0vBSIAi/8FxkNOSKyPEfdGQzFDak1dlqFKBYqBp1yC4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/PendingRequests.css' %}"/>
{% endblock %}
{% block jQueryCall %}
{#    <script src="{% static 'js/AdminAccountVerification.js' %}" type="text/javascript"></script>#}
    <script>
    $(".accept_button").on('click', function () {
      var user_id = $(this).val();
      var status = 'Accepted';
      console.log(user_id);
      $.ajax({
        url: "{% url 'change_job_status' %}",
        data: {
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
            'status': status,
            'user_id': user_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.success) {
              $("#" + user_id).hide(1000);
              console.log("ajax call success.");
          }else{
              console.log("ajax call failed.");
          }
        }
      });
    });
    $(".reject_button").on('click', function () {
      var user_id = $(this).val();
      var status = 'Rejected';
      console.log(user_id);
      $.ajax({
        url: "{% url 'change_job_status' %}",
        data: {
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
            'status': status,
            'user_id': user_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.success) {
              $("#" + user_id).hide(1000);
              console.log("ajax call success.");
          }else{
              console.log("ajax call failed.");
          }
        }
      });
    });
    </script>
{% endblock %}

{% block content %}
    <div id="pendingRequestBody" class="col-12 text-center">
        {% if jobs %}
            {% if user_type == 'admin' %}
                <h2>Pending Jobs</h2>
                <hr>
                <div id="pendingBody">
                    <form method="POST" class="form-horizontal">
                    {% csrf_token %}
                        <table id="request_table" class="table table-borderless mx-auto">
                            {% for job in jobs %}
                                <tr id="{{ job.id }}">
                                    <td class="job-name text-left">{{ job }}</td>
                                    <td><a href="{% url 'view_job_details' job.id %}">View Job Details</a></td>
                                    <td>
                                        <button id="accept_button" class="accept_button btn btn-success" type="button" name="accept" value="{{ job.id }}">Accept</button>
                                        <button id="reject_button" class="reject_button btn btn-danger" type="button" name="reject" value="{{ job.id }}">Reject</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </form>
                </div>
            {% endif %}
        {% else %}
            <h2 class="my-5">There are no jobs pending verification</h2>
        {% endif %}
    </div>
{% endblock %}