{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    View Pending Registrations
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js" integrity="sha256-0vBSIAi/8FxkNOSKyPEfdGQzFDak1dlqFKBYqBp1yC4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/PendingRequests.css' %}"/>
{% endblock %}
{% block jQueryCall %}
{#    <script src="{% static 'js/AdminAccountVerification.js' %}" type="text/javascript"></script>#}
    <script>
    $(".accept_button").on('click', function () {
      var user_id = $(this).val();
      var status = 'Accepted';
      console.log(user_id);
      $.ajax({
        url: "{% url 'change_accept_status' %}",
        data: {
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
            'status': status,
            'user_id': user_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.success) {
              $("#" + user_id).hide(1000);
              console.log("ajax call success.");
          }else{
              console.log("ajax call failed.");
          }
        }
      });
    });
    $(".reject_button").on('click', function () {
      var user_id = $(this).val();
      var status = 'Rejected';
      console.log(user_id);
      $.ajax({
        url: "{% url 'change_accept_status' %}",
        data: {
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
            'status': status,
            'user_id': user_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.success) {
              $("#" + user_id).hide(1000);
              console.log("ajax call success.");
          }else{
              console.log("ajax call failed.");
          }
        }
      });
    });
    </script>
{% endblock %}

{% block content %}
    {% if applicants_students or applicants_alumni or applicants_employers %}
        <div id="pendingRequestBody" class="col-12 my-5 text-center">
            {% if user_type == 'admin' %}
                <h2>Pending Registrations</h2>
                <hr>
                <div id="pendingBody">
                    <form method="POST" class="form-horizontal">
                    {% csrf_token %}
                        <table id="request_table" class="table table-borderless mx-auto">
                            {% if applicants_students %}
                                {% for applicant in applicants_students %}
                                    <tr id="{{ applicant.user_id }}">
                                        <td class="username text-left">{{ applicant.user }}</td>
                                        <td><a href="{% url 'view_account_details' applicant.user_id %}">View Account Details</a></td>
                                        <td>
                                            <button class="accept_button btn btn-success" type="button" name="accept" value="{{ applicant.user_id }}">Accept</button>
                                            <button class="reject_button btn btn-danger" type="button" name="reject" value="{{ applicant.user_id }}">Reject</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if applicants_alumni %}
                                {% for applicant in applicants_alumni %}
                                    <tr id="{{ applicant.user_id }}">
                                        <td class="username text-left">{{ applicant.user }}</td>
                                        <td><a href="{% url 'view_account_details' applicant.user_id %}">View Account Details</a></td>
                                        <td>
                                            <button class="accept_button btn btn-success" type="button" name="accept" value="{{ applicant.user_id }}">Accept</button>
                                            <button class="reject_button btn btn-danger" type="button" name="reject" value="{{ applicant.user_id }}">Reject</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if applicants_employers %}
                                {% for applicant in applicants_employers %}
                                    <tr id="{{ applicant.user_id }}">
                                        <td class="username text-left">{{ applicant.user }}</td>
                                        <td><a href="{% url 'view_account_details' applicant.user_id %}">View Account Details</a></td>
                                        <td>
                                            <button class="accept_button btn btn-success" type="button" name="accept" value="{{ applicant.user_id }}">Accept</button>
                                            <button class="reject_button btn btn-danger" type="button" name="reject" value="{{ applicant.user_id }}">Reject</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </form>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div id="empty-page" class="col-12 text-center">
            <h2>There are no accounts pending verification</h2>
        </div>
    {% endif %}
{% endblock %}