{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    View Pending Jobs
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/PendingRequests.css' %}"/>
{% endblock %}
{% block jQueryCall %}
{#    <script src="{% static 'js/AdminAccountVerification.js' %}" type="text/javascript"></script>#}
    <script>
    $(".accept_button").on('click', function () {
      var user_id = $(this).val();
      var is_active_user = 1;
      var status = 'Accepted';
      console.log(user_id);
      $.ajax({
        url: "{% url 'change_accept_status' %}",
        data: {
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
            'is_active_user': is_active_user,
            'status': status,
            'user_id': user_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.success) {
            console.log("ajax call success.");
          }else{
            console.log("ajax call not success.");
          }
        }
      });
    });
    $(".reject_button").on('click', function () {
      var user_id = $(this).val();
      var is_active_user = 0;
      var status = 'Rejected';
      console.log(user_id);
      $.ajax({
        url: "{% url 'change_accept_status' %}",
        data: {
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
            'is_active_user': is_active_user,
            'status': status,
            'user_id': user_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.success) {
            console.log("ajax call success.");
          }else{
            console.log("ajax call not success.");
          }
        }
      });
    });
    </script>
{% endblock %}

{% block content %}
    <div id="pendingRequestBody" class="col-12 text-center">
        {% if user_type == 'admin' %}
            <h2>Pending Jobs</h2>
            <hr>
            <div id="pendingBody">
                <form method="POST" class="form-horizontal">
                {% csrf_token %}
                    <table id="request_table" class="table table-borderless mx-auto">
                        {% for job in jobs %}
                            <tr>
                                <td class="username text-left">{{ job }}</td>
                                <td><a href="{% url 'view_job_details' job.id %}">View Job Details</a></td>
                                <td>
                                    <button id="accept_button" class="accept_button btn btn-success" type="button" name="accept" value="{{ job.id }}">Accept</button>
                                    <button id="reject_button" class="reject_button btn btn-danger" type="button" name="reject" value="{{ job.id }}">Reject</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}