{% extends "theme.html" %}
{% load staticfiles %}

<!-- Stylesheet -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Profile.css' %}"/>
{% endblock %}

{% block title %}
    View Profile - Murdoch Dubai Job Portal
{% endblock %}

{% block content %}
    <div id="profileBody">
        <h2 class="text-center">Company Profile</h2><br>
        <div class="row" style="margin-left: 5%">
            <div class="icon col-md-4 text-center">
                {% if employer.logo %}
                    <img src="{{ employer.logo.url }}" height="300.0em" width="300.0em">
                {% else %}
                    <img src="{% static 'DefaultDP.jpg' %}" height="300.0em" width="300.0em">
                {% endif %}
            </div>
            <div class="employer-profile col-md-8 text-left">
                <p><strong>Company Name:</strong> {{ employer.company_name }}</p>
                <p><strong>Company Description:</strong> {{ employer.company_description }}</p>
                <p><strong>Trade License:</strong> <a target="_blank" href="{{ employer.trade_license.url }}">{{ employer.trade_license }}</a></p>
                <p><strong>Contact Name:</strong> {{ employer.contact_name }}</p>
                <p><strong>Contact Number:</strong> <a href="tel:{{ employer.phone_number }}">{{ employer.phone_number }}</a></p>
                {% if employer.company_website %}
                    <p><strong>Company Website:</strong> <a href="{{ employer.company_website }}" target="_blank">{{ employer.company_website }}</a></p>
                {% endif %}
            </div>
        </div>
        <div id="profile-buttons" class="text-center">
            <a  class="text-decoration-none text-white" href="{% url 'admin_edit_employer_profile' employer.user_id %}">
                <button type="submit" class="btn btn-primary">Edit Profile</button>
            </a>

            <a class="text-decoration-none text-white" href="{% url 'get_employer_trade_license' employer.user_id %}">
                <button type="button" class="btn btn-primary">Download Trade License</button>
            </a>
        </div>
    </div>
{% endblock %}