{% extends "theme.html" %}
{% load staticfiles %}

{% block title %}
    View Statistics - Murdoch Dubai Career Portal
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Statistics.css' %}"/>
{% endblock %}

{% block content %}
    <div id="statBody" class="col-12 d-flex justify-content-center">
        <table class="table table-striped table-responsive-sm text-center">
            <thead class="thead-dark">
            <tr class="text-left">
                <th>Type of Statistics</th>
                <th>Count</th>
            </tr>
            </thead>

            <tbody>
            <tr class="text-left">
                <td><b>Total Users</b></td>
                <td class="text-center"><b>{{ total_users }}</b></td>
            </tr>

            <tr class="text-left">
                <td>Total Approved Users</td>
                <td class="text-center">{{ users }}</td>
            </tr>

            <tr class="text-left">
                <td>Administrators</td>
                <td class="text-center">{{ admins }}</td>
            </tr>

            <tr class="text-left">
                <td>Employers</td>
                <td class="text-center">{{ employers }}</td>
            </tr>

            <tr class="text-left">
                <td>Total Students</td>
                <td class="text-center">{{ students }}</td>
            </tr>

            <tr class="text-left">
                <td>&emsp;Current Students</td>
                <td class="text-center">{{ current }}</td>
            </tr>

            <tr class="text-left">
                <td>&emsp;Alumni Students</td>
                <td class="text-center">{{ alumni }}</td>
            </tr>

            <tr class="text-left">
                <td>Users Pending Approval</td>
                <td class="text-center">{{ pending_users }}</td>
            </tr>

            <tr class="text-left">
                <td>Users Rejected</td>
                <td class="text-center">{{ rejected_users }}</td>
            </tr>

            <tr class="text-left">
                <td>Jobs Posted</td>
                <td class="text-center">{{ jobs_posted }}</td>
            </tr>

            <tr class="text-left">
                <td>Jobs Pending Approval</td>
                <td class="text-center">{{ pending_jobs }}</td>
            </tr>

            <tr class="text-left">
                <td>Jobs Rejected</td>
                <td class="text-center">{{ rejected_jobs }}</td>
            </tr>

            <tr class="text-left">
                <td>Current Student Applications</td>
                <td class="text-center">{{ apps }}</td>
            </tr>

            <tr class="text-left">
                <td>Alumni Applications</td>
                <td class="text-center">{{ alumni_apps }}</td>
            </tr>

            <tr class="text-left">
                <td>Active Jobs</td>
                <td class="text-center">{{ open_jobs }}</td>
            </tr>

            <tr class="text-left">
                <td>Jobs Closed and Filled by Murdoch Students</td>
                <td class="text-center">{{ closed_jobs }}</td>
            </tr>

            <tr class="text-left">
                <td>Jobs Deleted</td>
                <td class="text-center">{{ deleted_jobs }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary">
            <a class="text-decoration-none text-white" href="{% url 'export_stats_file' users admins students current alumni employers jobs_posted apps open_jobs closed_jobs deleted_jobs total_users pending_users pending_jobs alumni_apps rejected_users rejected_jobs %}">Export Data</a>
        </button>
    </div>
    <br><br>
{% endblock %}