{% extends "admin/base_site.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
</head>
<body>
{% block messages %}{% endblock messages %}
{% block content %}
    <div>
        {% for message in messages %}
            <h3> {{ message }} </h3>
        {% endfor %}
    </div>
    {% if hasAdminDetails %}
        <div id="admin-profile-body">
            {% if admin.dp %}
                <img style="width: 30vw;" src="{{ admin.dp.url }}" alt="profile picture">
            {% else %}
                <img style="width: 40vw;" src="{% static 'DefaultDP.jpg' %}" alt="default profile picture">
            {% endif %}
            <p>First Name: {{ user.first_name }}</p>
            <p>Last Name: {{ user.last_name }}</p>
            <p>Email Address: {{ user.email }}</p>
            <p>Gender: {{ admin.gender }}</p>
            <button><a href="{% url 'edit_admin_profile' %}">Edit Profile</a></button>
            <button type="button"><a href="../../admin">Go back home</a></button>
        </div>
    {% else %}
        <h2>Looks like you have not filled in some details yet. Fill in the form below to be able to view your
            profile.</h2>

        <form method="post" enctype="multipart/form-data" action="{% url 'view_admin_profile' %}">
            {% csrf_token %}
            {{ admin_form.as_p }}
            <button type="submit">Add Details</button>
            <button type="button"><a href="../../admin">Cancel</a></button>
        </form>
    {% endif %}
{% endblock %}
</body>
</html>

